[2018-03-12 15:05] HajLender commented on #95
Great thank you very much

[2018-03-12 16:23] ilcato commented on #95
Can you test the implementation by replacing the following files in your setup and restarting homebridge?

https://raw.githubusercontent.com/ilcato/homebridge-Fibaro-HC2/master/dist/getFunctions.js
https://raw.githubusercontent.com/ilcato/homebridge-Fibaro-HC2/master/dist/shadows.js

[2018-03-12 16:37] HajLender commented on #95
It works! Huge thank you for that. Any chance to get info about battery status of the CO sensor?

[2018-03-12 16:49] ilcato commented on #95
Done, can you test it? Can you also attach a screenshot of the home app showing the device?

[2018-03-12 17:12] Tangheta commented on #92
This Made the device appear in the home app!
Nice.

It however does not seem to fully work.
Changing temp to 38 to open valve:
38 is changed to 30 in home app?
It take a while but the valve does make an opening noise.
Set temp to 10 degrees to close the radiator valve:
Nothing happens.
Home app jumps back to 30.

Manually change radiator valve: status not updated in home app.

Could this be due to

[2018-03-12 17:19] ilcato commented on #92
maybe, unfortunately without the device is very difficult for me to analyse its behaviour.
Can you make more test and report the results. Specify to me exactly how you test.

[2018-03-12 17:26] HajLender commented on #95
It shows up like 2 devices: CO sensor and temp. sensor.
Do you mean the battery indicator is done? I downloaded again the files from the links above but battery indicator is not there. I am attaching pictures.
![img_3394](https://user-images.githubusercontent.com/29841504/37299130-bb51dcfc-2622-11e8-9e7b-0135ddad1499.PNG)
![img_3395](https://user-images.githubusercontent.com/29841504/37299133-bd5b

[2018-03-12 17:40] ilcato commented on #95
Ok. The Apple Home app doesn't show battery level. Other Homekit App yes, for example MyHome.
Can we close the issue? I will insert the update in the next release.

[2018-03-12 18:11] HajLender commented on #95
It does not show the battery even in myhome app, but I can easily live with it. Thank you. You can close it.

[2018-03-12 18:15] #95 closed

[2018-03-12 19:05] Tangheta commented on #92
Will do some extensive testing tomorrow.

[2018-03-13 08:23] Lesix69 commented on #94
Thanks a lot!
Sorry, I missed that instruction, now it works perfectly!

[2018-03-13 08:23] #94 closed

[2018-03-13 11:15] Tangheta commented on #92
Started testing by updating firmware Thermostat from 4.0 to 4.3.

**Random info/settings:**

This thermostat valve is currently used in my bathroom.
So I want it to be open for about an hour in the morning and in the evening.
This is set in the bathroom zone in fibaro HCL (Heating Panel):
![1](https://user-images.githubusercontent.com/36998749/37338237-26f78f94-26b7-11e8-94e5-1551e184d0cc.png)
The

[2018-03-13 19:17] iRonin commented on #93
This particular lock does not have proper Fibaro templates (I spoke extensively with the manufacturer; Gerda is well known company but Fibaro does not seam to care to about the support).
Bug or not, I would feel more comfortable with a notification about failing lock command.

[2018-03-14 06:15] ilcato commented on #93
So, if I understand, you want a form of notification for the first case in which after a specific timeout the bridge doesn't receive a feedback from Fibaro home center. Is an interface to an IFTTT Maker channel good enough? Or an MQTT message is better? I'm also able to generate an event on a specific Homekit Programmable Switch.

[2018-03-14 12:38] iRonin commented on #93
Yes :) Event on a Homekit switch would be an elastic option, however I would hook it up to IFTTT anyways.

Thinking about it, it's more about a setting for a lock (or all locks), to supply a timeout after which a check to see if the lock has been indeed locked would be triggered (maybe without relying on what Fibaro returns but simply checking the state of the lock) and then sending configured not

[2018-03-14 17:14] ilcato commented on #93
Ok, I do not have a lock, so I need your support for testing. Which is a suitable timeout for the check?

[2018-03-14 20:47] iRonin commented on #93
I’m happy to do the testing! If you could do the timeout configurable that would be spledind; 5s as default should be enough. Thanks!

[2018-03-15 17:45] ilcato commented on #93
I made a first draft of the implementation. Currently it only logs the difference between the target lock state and the measured one after the timeout (notification to IFTTT missing). Please update the following file and restart homebridge to test: dest/index.js and dist/setFunctions.js.
In config.json add the two new parameters.
Thanks

[2018-03-15 19:27] lboue opened #96 "Report Wall Plug as an HomeKit power consumption accessory"
Hello,

Could you please add an HomeKit power consumption accessory mapped.
We can get this value from the Fibaro API
http://<IP>:80/api/energy/now-3600/now/single/devices/power/<deviceID>

Exemple for my Fibaro Wall Plug FGWP101, I got the the current energy ('W' value):

**Energy API call**
[code]

**Devis API call**
[code]

Regards,
Ludovic

[2018-03-15 23:16] #89 closed

[2018-03-19 08:43] iRonin commented on #93
(Un)fortunatelly the lock has been working properly recently. If you could add IFTTT integration it will be easier for me to spot it as I'm not the only user in my house and sometimes I don't notice when it does not work. Thank you!

[2018-03-20 06:07] ilcato commented on #93
The new log already allows you to spot the event. Please, check if it works through the log and then I will add the IFTTT integration.

[2018-03-20 09:03] iRonin commented on #93
I replaced the files and I will let you know whether the problems appear. Checking daily in the logs is cumbersome though.

[2018-03-20 10:25] ilcato commented on #93
Did you configured configure.json?

[2018-03-20 12:15] iRonin commented on #93
Yes, added `"doorlocktimeout": 5`.

[2018-03-22 21:14] iRonin commented on #93
Is this an error log message:

[code]

[2018-03-23 05:06] ilcato commented on #93
Yes.

[2018-03-23 07:46] iRonin commented on #93
Cool! Would you mind adding the IFTTT notification at your convenience?
I only realized the lock was not locked 1 hour later.

[2018-03-23 08:52] ilcato commented on #93
Ok, done.
In order to test:

1. replace dist/setFunctions.js
2. configure IFTTT makerkey in config.json

When the anomaly happens you will receive an IFTTT event on your makerkey with event = "LockError" and value1=the device ID in error.

[2018-03-23 09:40] iRonin commented on #93
How about naming the event `hbFHC2LockError` (or `hb_fhc2_lock_error`) - it's good practice to have the error code namespaced, WDYT?
I'm testing right away!

[2018-03-26 09:48] 0ff opened #97 "Crash when updating thermostat value"
Sometimes (i.e. I can't reproduce it), updating a value crashes Homebridge.
Seems like the context (`this`) is missing, any Ideas?

EDIT: I'm running 2.0.8

[code]

[2018-03-26 12:41] ilcato commented on #97
Are all other devices working right?

[2018-03-26 14:25] 0ff commented on #97
Yes, and in fact the very same action works *most of the time* (which, I know, is weird).
Maybe it has to do with how the change is triggered or something?
If you can think of anything, please let me know and I'll try helping you debug it.

[code]

[2018-03-26 17:22] ilcato commented on #97
Can you look for a "didFinishLaunching" entry in your log? Is there such a log entry before the error log?

[2018-03-26 17:27] 0ff commented on #97
Yes, it's there:

[code]

[2018-03-26 17:55] ilcato commented on #97
This is after the crash. Is there a "didFinishLaunching" before [2018-3-26 09:29:59] ?

[2018-03-26 18:10] 0ff commented on #97
You're right, sorry!
Here's the one before the crash:

[code]

Also, here's somehting very interesting:
[code]

Maybe it has to do with that?

[2018-03-26 19:34] ilcato commented on #97
Yes, the plugin was not able, for some reason, to retrive the device list from Home Center on startup.

[2018-03-26 19:49] ilcato commented on #97
I added a control and exit Homebridge automatically in this case. Will be available in the next release.

[2018-03-29 12:38] #97 closed

[2018-03-29 12:38] ilcato commented on #93
Any news?

[2018-03-29 12:57] iRonin commented on #93
Waiting for the lock to malfunction.

[2018-03-30 05:47] ilcato commented on #93
Are you able to see if the web hook received the complete info (i.e.: the ID of the device)?

[2018-03-30 07:34] iRonin commented on #93
IFTTT does not show these details for failed applets. We have to wait until the next error.

[2018-03-30 10:06] iRonin commented on #93
There was an error today but IFTTT knows nothing about it:

[code]

It would be great if it didn't log maker channel key, unless in the debug mode and then it could log the whole request to IFTTT. The applet in my IFTTT works fine via curl:

[code]

[2018-03-30 17:40] iRonin commented on #93
I've got a couple of more errors and none were registered by IFTTT.

[2018-03-31 14:30] bjornand1 opened #98 "Can I Use the Fibaro Plugin Aeotec Z-wave Stick (and without HC2)?"
Hi, I don't have an HC2, but am looking into using the Fibaro Roller Shutter 2 to control my blinds through Homebridge. Does this plugin only work with HC2 or can I get a Aeotec Z-wave stick to act as the Z-wave control center?

[2018-03-31 14:55] ilcato commented on #98
This plugin is only for Fibaro Home Center 2 or Home Center Lite.
You can use your z-wave stick and Roller shutters with other controllers like Domoticz or openHAB and use the corresponding plugin for homebridge.

[2018-03-31 14:55] #98 closed

[2018-04-06 18:40] ilcato commented on #93
I think it's fixed now a "?" was missing in the url.

[2018-04-06 19:44] iRonin commented on #93
Updated, testing.

[2018-04-06 19:57] darrenmcuk commented on #96
yes that would be great to see this

[2018-04-06 19:58] darrenmcuk commented on #74
yer I have seen that as well

[2018-04-06 20:11] ilcato commented on #93
Ok, I just renamed the IFTTT event name as per your suggestion and added generic IFTTT notifications.

[2018-04-06 20:31] iRonin commented on #93
I already got a notification, cool!

[2018-04-07 07:45] iRonin commented on #93
The event is firing too soon now; see the below log, I've got the timeout set to 5

[code]

The error event was fired after 1 second. I'll update the code to the latest now.

[2018-04-07 16:47] ilcato commented on #93
The timeout is expressed in millisecond, if you want to set it to 5 seconds you must put a value of "5000".
5 ms doesn't allow to execute the lock command before the check.

[2018-04-07 17:34] ilcato commented on #93
@iRonin, @darrenmcuk,
in order to test the last version replace all the dist dir files and restart homebridge.
I also change the name of the maker key config param. See the wiki entry.
I just tested this version and I'm able to log all the events in a Google Spreadsheet doc via IFTTT.

[2018-04-07 17:53] darrenmcuk commented on #93
Happy to give it a go....

1. Where do I get the files from?
2. Where do I put them on my Raspberry?

Sorry for such basic questions....

[2018-04-09 15:52] ilcato commented on #93
@darrenmcuk

1. the files are [here](https://github.com/ilcato/homebridge-Fibaro-HC2/tree/master/dist)
2. they must be put in a folder on your Raspberry that depends on your setup, but it is always named node_modules/homebridge-fibaro-hc2/dist and can be in one of your lib directories.

Anyway I think that I will publish the current version on npm shortly after some further testing by myself.

@iR

[2018-04-10 16:33] ilcato commented on #93
published in 2.0.9

[2018-04-10 16:33] #93 closed

[2018-04-10 20:07] VeniceNerd opened #99 "HeatIt Z-Wave or DEVIreg Smart thermostat support?"
Hi,

does this plugin support either the [HeatIt Z-Wave](https://www.heatit.com/heating-control/floor-heating-thermostats/heatit-z-wave-thermostat/) [Danfoss DEVIreg Smart](https://devi.danfoss.com/en/articles/new-devireg-smart-thermostat/) thermostat?

I see in the release notes that Danfoss Thermostat support is mentioned several times but I don't see any Z-Wave mention on the DEVIReg Smart prod

[2018-04-13 18:47] iRonin commented on #93
Something is not right, I should have gotten the notification but didn't, here are the logs:

[code]

There was no response from the lock as it was marked as `communication error` in Fibaro interface.

[2018-04-27 04:40] dcaccount opened #100 "Single switch, supported?"
Hello,
First of all congratulations for your great package.

I have just bought a Fibaro single switch and I would like to connect it via Bluetooth to my Raspberry Homebridge server.

Is there a way using your plugin? It would be very useful for those who have to hide the switch in an aerea not covered by the Bluetooth of the Apple TV and the raspberry could act as a repeater or as a bridge.

Shou

[2018-04-28 05:41] ilcato commented on #100
The plugin is for connecting a Fibaro Home Center (2 or light) to HomeKit clients. It supports the Fibaro single switch the z-wave version. Your use case is not covered and cannot easily be implemented.

[2018-04-28 08:41] HajLender commented on #96
It would be great!

[2018-04-28 12:25] Dakkerad commented on #96
I have a switch that does this aswell, I can see current consumption, overall, and today.
The edomoticz example has them all

[2018-05-09 10:38] meme1981 opened #101 "fibaro linked device for thermostat"
hi,
in my fibaro hc2 I use linked device as thermostat,
there's any possibilities to have temperature sensors as thermostat to use them as in Fibaro?
thanks

[2018-05-12 07:14] Mx-Razvan commented on #55
Hi ilcato!
As i have uninstalled the HCL and the accesories from another location I’m able to send you the spare remotec controler for test if you want. Just let me know

[2018-05-12 07:36] ilcato commented on #55
@Mx-Razvan, sure.

[2018-05-12 07:45] Mx-Razvan commented on #55
Ok. Send me the shipping details at mx.razvan@gmail.com

[2018-05-17 15:54] ilcato commented on #55
@Auto-m8r, @gondiciembre, @agisofttm, thanks to @Mx-Razvan that provided me a Remotec device I was able to implement a full Remotec zxt-120 support. I committed the code on GitHub but not published on npm. Please try the new functionality by updating the "dest" directory on your setup.
Thanks.

[2018-05-17 16:32] agisofttm commented on #55
@ilcato - Thats a great news - I'll try it as soon as possible 😁

[2018-05-18 10:14] ilcato commented on #101
Can you clarify please?

[2018-05-18 10:21] #100 closed

[2018-05-18 11:36] meme1981 commented on #101
ok, i use a temperature sensor linked in panel linked devices , in my phone app the temperature sensor change from temperature sensor to danfoss.
if I put in shadows.js  case "com.fibaro.temperatureSensor":
controlService = new hapService.Thermostat(device.name); ecc... homekit see temperature sensor as thermostat and i can change the value in fibaro but it's always in heat, i can't stop, so i hav

[2018-05-18 12:33] meme1981 commented on #101
italiano:
per impostare il riscaldamento io ho fatto un linked device tra un attuatore e una sonda di temperatura e l'ho associato a una stanza; da quel momento sulla app fibaro non vedo piu' la sonda di temperatura ma il controllo termostato. quando lo importo in homekit pero' viene vista come sonda di temperatura.

english:
 to set up the heating, I made a linked device between an actor and a te

[2018-05-20 16:19] lukFisz opened #102 "When you ask Siri to set the device to RED, it doesn't work."
For example, when you ask Siri: "Set living room to RED" (assuming you have RGBW controller in that room), Siri responds that everything went well. Unfortunately, it doesn't send the update. However, the color is changed and when you change the brightness, even just by 1%, it sends the update, together with the color we just asked for. Maybe together with the color change, some brightness update n

[2018-05-20 19:28] ilcato commented on #101
I tried to create a linked device similarly to your setup but the temperature sensor remain a sensor and I don't see a thermostat. How does it work?

[2018-05-20 19:29] ilcato commented on #102
Can you show me the log corresponding to the requests you made?

[2018-05-20 21:45] meme1981 commented on #101
to me too, to use it as thermostat i put temperature sensor as thermostat in shadows.js, so it can work as thermostat.but it's always inheriting mode

[2018-05-21 02:28] gondiciembre commented on #55
@ilcato I have just tested it and it is working great ! thanks so much for working on this.

[2018-05-21 04:53] ilcato commented on #101
but remaining in Home Center: how do you use the linked device?

[2018-05-21 06:44] meme1981 commented on #101
if i from iphone modify temperature it work perfectly but iphone don't take data from fibaro
so it's always in heating

[2018-05-21 07:02] ilcato commented on #101
From the native Fibaro app?

[2018-05-21 07:07] #55 closed

[2018-05-21 08:21] ilcato commented on #101
Forget the homekit stuff for a moment.
In my understanding a linked device in Home Center  is only manageable from the heating panel (or other panels).
Your are saying that "SALA temp" is a temperature sensor that after linking it to a switch became a thermostat visible as a device in the Fibaro UI in place of the temperature sensor?
This is not happening to me when I setup a linked device like in

[2018-05-21 08:25] ilcato commented on #101
Contact me directly so we can setup a call to better understand the issue.

[2018-05-21 09:07] meme1981 commented on #101
SALA Temp is a fgms-001 if you have a private mail i send to you the access to control directly in fibaro and in homebridge

[2018-05-23 09:54] ilcato commented on #101
As discussed directly the current Fibaro API doesn't allow the control of linked devices.

[2018-05-23 09:54] #101 closed

[2018-05-30 19:07] josecarlosmoimaz opened #103 "HomeKit changes operation to Heat when changing temperature"
Hi ilcato, firstly thank you very much for all your work. When I change the temperature on HomeKit app the Fibaro HC2 is setting the operation to heat, and because of that the AC does not receive the command. There are two places to change the operation mode on HC2, one that is a mode dedicated virtual device and another in the same virtual device with temperature set. I think the home bridge shou

[2018-05-30 20:43] ilcato commented on #103
Which device are you using?

[2018-05-30 20:46] josecarlosmoimaz commented on #103
The Remotec ZXT-120, sorry I forgot to mention hehe

[2018-05-31 07:50] ilcato commented on #103
@josecarlosmoimaz, this is a wrong behaviour of the API that when you change the temperature it will reset the mode to heat, and this parameter is independent from the mode widget. I implemented a workaround that seems to work: before setting the temperature store the current mode and after setting the temperature restore the mode.
Have a try.

[2018-05-31 09:15] Mx-Razvan commented on #103
@ilcato - it is working. tested with the HC inerface opened and the rapid change from cool - heat - cool is visible.
Thank you for your work

[2018-05-31 09:52] ilcato commented on #103
I just published an update that try to solve a problem related to changing temp -> change mode.

[2018-06-01 15:44] josecarlosmoimaz commented on #103
I have just tested, when changing the temperature the homebridge is actually changing the mode from cool to heat, the temp, and after that the mode from heat to cool. The problem is that when changing the mode to heat, what comes next the AC doesn't recieve. The point is not changing the mode, or changing the temperature after the mode. All changes while in heat, the AC doesn't respond.

[2018-06-01 19:17] josecarlosmoimaz commented on #103
Try to control an AC that doesn't have heat mode. Here what happens:
when changing the temperature directly from hc2
<img width="1064" alt="screen shot 2018-06-01 at 15 51 36" src="https://user-images.githubusercontent.com/32886134/40858466-bc7236be-65b4-11e8-9bb9-8d4edf59828f.png">
when changing the temperature from HomeKit, the line indicated makes the operation mode slightly change from cool to

[2018-06-04 20:26] josecarlosmoimaz commented on #103
@ilcato Oyeah, very nice job. Thats perfect now. Thanks a lot.

[2018-06-04 20:27] #103 closed

[2018-06-05 09:13] ilcato commented on #103
@Mx-Razvan, update to 2.1.3. It fixes the issue.

[2018-06-09 14:06] ilcato commented on #102
@lukFisz any feedback?

[2018-06-10 14:15] ilcato commented on #74
Version 2.1.4 should fix the issue. @Ti-Bo, @darrenmcuk can you check?

[2018-06-13 16:12] ilcato commented on #74
In my installation with the new version it works.

[2018-06-13 16:12] #74 closed

[2018-06-13 16:13] ilcato commented on #102
I'll close it. If you are able to describe the issue with the log I will reconsider it.

[2018-06-13 16:13] #102 closed

[2018-06-15 13:40] brendanlim1995 opened #104 "Unable to Autostart with Raspberry pi"
Error message when autostart the Homebridge program as below.

[2018-6-15 13:26:18] Homebridge is running on port 51824.
[2018-6-15 13:26:19] [FibaroHC2] Error getting data from Home Center:  { Error: connect ENETUNREACH 192.168.1.116:80 - Local (0.0.0.0:0)
    at Object.exports._errnoException (util.js:1022:11)
    at exports._exceptionWithHostPort (util.js:1045:20)
    at internalConnect (net.js

[2018-06-16 05:45] ilcato commented on #104
Use one of the solution described [here](https://github.com/nfarina/homebridge/wiki/Running-Homebridge-on-a-Raspberry-Pi#running-homebridge-on-bootup) in order to autostart homebridge.

[2018-06-16 09:52] vvsokolov opened #105 "Mapping slider to multilevel switch accessory"
Given: two relays that switch two fan speeds. In this case, they can not be switched on at the same time, because in this case the fan will damaged!
To manage this, I created a virtual device - a slider that turns these switches on or off depending on the value of the slider.
So, I need mapping this virtual slider to single multilevel switch accessory.
Is it possible ?

[2018-06-17 21:41] ilcato commented on #74
Did you update the plugin and restarted it?

[2018-06-17 21:42] ilcato commented on #105
I'll think about it.

[2018-06-18 06:55] vvsokolov commented on #105
Thanks a lot! I'll be looking forward to it

[2018-06-18 11:18] xPRozAcx opened #106 "Fibaro HC2: dimming value has no effect"
When I set a value in brightness state I get the following debug log, but nothing happens @ Fibaro HC2

`[2018-6-18 12:42:36] [FibaroHC2] Setting value to device: 6 parameter: Brightness
...
[2018-6-18 12:42:36] [FibaroHC2] Command: setValue, value: 20, to: 6
[2018-6-18 12:42:37] [FibaroHC2] Updating value for device: 6 parameter: On, value: 20
[2018-6-18 12:42:37] [FibaroHC2] Updating value for d

[2018-06-18 13:52] ilcato commented on #105
What about mapping it to a dimmer?

[2018-06-18 14:47] xPRozAcx commented on #106
It is a FGF212 Dimmer by Fibaro. The same happens to a Domitech dimmable light bulb.

[2018-06-18 14:52] ilcato commented on #106
I have a dozen of such things working on my setup. Are other things working on your setup?

[2018-06-18 14:56] xPRozAcx commented on #106
Thats what I thought. All other is working like a charme.

[2018-06-18 15:57] ilcato commented on #106
have they ever worked?

[2018-06-18 16:06] vvsokolov commented on #105
Good idea! It will be cool

[2018-06-18 16:45] xPRozAcx commented on #106
No. Never...

[2018-06-18 17:08] ilcato commented on #106
Which version of nodejs, homebridge and my plugin do you have ?
On which platform are you running this stuff?

[2018-06-18 18:30] Ti-Bo commented on #74
Yes I updated it and restarted the Raspberry. I’ve updated Homebridge too.

[2018-06-18 20:20] ilcato commented on #74
Are you sure that the latest version is the one installed? Sometimes it doesn't upgrade.

[2018-06-19 07:58] ilcato commented on #104
@brendanlim1995, any news?

[2018-06-19 12:16] brendanlim1995 commented on #104
@ilcato
Thanks, quite busy for the last few days.
Juz follow the step you gave, it works perfectly. Thanks again!

[2018-06-20 10:06] brendanlim1995 commented on #104
Sorry to say that, the homebridge which autostart successfully yesterday is having a problem again.

<img width="974" alt="screen shot 2018-06-20 at 5 56 30 pm" src="https://user-images.githubusercontent.com/22288227/41651522-56d0f54e-74b3-11e8-8586-3d483586311d.png">

After I delete the paired homebridge on my iPhone and reboot the RPi, I can find the homebridge in my home kit (in iPhone), but it

[2018-06-20 20:16] ilcato commented on #104
delete the accessories folder and the persist folder.
change a number in the username field in the bridge section.
restart

[2018-06-21 09:36] ilcato commented on #104
@brendanlim1995, not necessarily, I never reset the platform in more than 12 month even while using it as a test environment. Sometimes homebridge and or plugins corrupt something internally.
Does it work now?

[2018-06-21 09:50] brendanlim1995 commented on #104
@ilcato
Yes, it works perfectly right now. I can control my accessories on Fibaro with my iPhone again.
Thanks!

[2018-06-24 19:46] grapestech commented on #101
Hello!

First, thanks for providing such a plugin.

So basically I have been trying to understand how to add a "Virtual Thermostat" to the iOS home app in order to control heating or cooling devices.  Usually this is done in Fibaro via linked devices (a sensor + a relay) which will appear in the Fibaro mobile app as a virtual thermostat.

The question : Is there a way to accomplish the above witho

[2018-06-26 12:59] brendanlim1995 commented on #104
Hi, @ilcato
the problems came back again, the same problem but I have tried the solution that you gave me about a week ago.
I had changed the Username in homebridge and the port. But it just looked the same.

Any help?
<img width="1159" alt="screen shot 2018-06-26 at 8 54 56 pm" src="https://user-images.githubusercontent.com/22288227/41913681-8ccbaf16-7983-11e8-9e81-ba4f945633fb.png">

[2018-06-26 13:08] ilcato commented on #104
ENETUNREACH  means that you are not able to reach the destination address. Does the error happen on startup?

[2018-06-26 13:31] ilcato commented on #104
So that means that homebridge starts before the networking subsystem is ready. Try another autostart option that you find in the wiki.

[2018-06-26 13:32] brendanlim1995 commented on #104
Okay, I will try it later. Thanks a lot

[2018-06-26 17:09] brendanlim1995 commented on #104
@ilcato I have successfully autostarted the homebridge by using systemctl's pause.
Thanks!

[2018-06-28 09:43] Ti-Bo commented on #74
The version displayed is 2.1.5... I tried a new installation and I’ve the same bug :/

[2018-06-30 18:22] grapestech commented on #86
The site says : SIP and DTMF signaling + REST and WebSocket APIs
Nothing more.

Would love to see this addition as a video doorbell or camera.

Thanks.

[2018-07-01 06:21] petehhhhh opened #107 "RGBW missing white channel"
Hiya,

I read that RGBW fibaro units are supported, which they are. Only problem is that does not appear to be setting white channel so colours are all off ?

[2018-07-01 06:31] ilcato commented on #107
The white channel is indeed supported. Some users made several tests on it. Unfortunately I do not have one and cannot check. What's your setup?

[2018-07-01 07:04] petehhhhh commented on #107
I have the latest homebridge-Fibaro-HC2 2.1.5. Running on ubuntu 18.04. It is a fibaro RGBW on an HC2 running latest firmware with a connected RGBW strip. When I try to use Home app, the colours change but are quite a bit off. From what I can see (just playing around with it) it is because of the white channel is not correctly setting...

[2018-07-01 07:31] petehhhhh commented on #107
not to worry. Think it is a problem with fibaro too. Colours aren't mapping especially oranges and the like...

[2018-07-01 07:31] #107 closed

[2018-07-01 18:33] grapestech commented on #86
Nothing in the box.
Sorry don't have it hocked up yet. Will keep you posted.

[2018-07-01 21:55] #104 closed

[2018-07-01 21:55] ilcato commented on #106
@xPRozAcx, any info?

[2018-07-17 20:06] nicobode opened #108 "Scenes are not triggered when script change Global Var"
Hey,

Scenes are not Triggerd when a global war is changed. Yout must add in your PUT request the information  "invokeScenes": true

Thanks :)

[2018-07-18 08:16] nicobode commented on #108
In file fibaro-api.js you have the function setGlobalVariable here you must replace
                "value": value

with
                "value": value,
                "invokeScenes": true

Reson is: at the moment your script update the global var from false to true or from true to false but when i have example a grafical szene or a lua in fabio with if -> global var = true then this -> than the

[2018-07-18 14:55] ilcato commented on #108
Understood.
I prepared all the changes in githb but cannot publish on npm from the office. I will publish it tonight from home. thanks.

[2018-07-18 18:48] ilcato commented on #108
@nicobode can you test it?

[2018-07-22 08:34] lboue opened #109 "Report dead module in HomeKit"
Hello,

I have one Roller Shutter 2 works (FGRM222) which is reporter as dead on HC controller:
`"dead": "true",`

Full HC API JSON
[code]

Is there a way to report it as dead/unreachable in Homekit too ?

Regards,
Ludovic

[2018-07-22 11:22] lboue commented on #109
I found an implementation exemple in homebridge-hue plugin source code:

So to do that you need to add an OptionalCharacteristic called **Characteristic.StatusFault**.
https://github.com/ebaauw/homebridge-hue/search?q=.reachable&unscoped_q=.reachable

[code]

Regards,
Ludovic

[2018-08-05 14:19] papasasha42 opened #110 "Custom mapping"
Hi, thanks for your awesome project!

Is it possible to customize homekit device's mapping? I.e. use external temperature sensor for thermostat like Remotec 120 or Danfoss LC, or create thermostat from temperature sensor and relay, or make virtual movement sensor from pushbutton etc.

I saw something like this in that project:
https://github.com/hobbyquaker/homekit2mqtt
https://github.com/hobbyqua

[2018-08-05 15:43] lboue opened #111 "Improve AccessoryInformation exposes"
Hello,

Could you improve AccessoryInformation published informations? For exemple with something like this code:
[code]

I don't know exactly where and how implement a getInfo() method to pull URL http://@HC2/api/settings/info and get values:
[code]

Regards,
Ludovic

[2018-08-05 16:04] lboue opened #112 "expose BatteryLevel"
Hello,

Could you expose BatteryLevel for those Fibaro sensors ?
- FGFS101
- FGSS001

Currently it seems that only FGCD001 have been implemented. May be this should work?

            case "com.fibaro.FGFS101":
            case "com.fibaro.floodSensor":
                ss = [new ShadowService(new hapService.LeakSensor(device.name), [hapCharacteristic.LeakDetected, hapCharacteristic.BatteryLevel])]

[2018-08-05 21:34] lboue commented on #112
Unfortunately, I didn't managed to expose the hapCharacteristic.BatteryLevel Characteristic to HomeKit.
I forked this repo and added a [ branch called "batteryLevel"](https://github.com/lboue/homebridge-Fibaro-HC2/tree/batteryLevel.
)

I added debug to LoadAccessories methode in the index.js class so I can see the batteryLevel attribute returned by the HC2 REST API.
[code]

Regards,
Ludovic

[2018-08-06 08:06] ilcato commented on #110
It's all possible ...

[2018-08-06 08:15] ilcato commented on #106
@xPRozAcx, any info?

[2018-08-06 08:16] ilcato commented on #108
It works for me.

[2018-08-06 08:16] #108 closed

[2018-08-06 08:30] alexspirin commented on #110
Do you mean already possible or you are going to add this sometime later? If possible could you give some directions, please? I'm newbie coder and just starting to learn homebridge project. Thanks!

[2018-08-06 08:36] ilcato commented on #110
I mean it is possible but have no time to implement it. Moreover, my Home Center died.
It requires a redesign of the structure of the plugin, the component you linked is not an home bridge plugin so it allows a more free design.
Try to start with something easier.

[2018-08-06 15:36] lboue commented on #112
Actually I think those 2 characteristic are related to battery are can be used:
- hapCharacteristic.StatusLowBattery
- hapCharacteristic.BatteryLevel

Regards,
Ludovic

[2018-08-10 22:38] lboue commented on #112
Could you tell me how can I add the _hapService.BatteryService_ service to the accessory in the createShadowAccessory method?

I find a implementation exemple here with the homebridge-mi-aqara plugin and the [SmokeDetectorParser.js](https://github.com/YinHangCode/homebridge-mi-aqara/blob/9ca6907b6d26248126aae816af8ad6f33446cf1a/parser/SmokeDetectorParser.js#L43) class

It should be something like

[2018-08-15 15:23] zaks2033 opened #113 "Heltun thermostat"
Thank you for the excellent work!
I installed the Heltun thermostat in FibaroHC2. https://www.heltun.com/z-wave-heating-thermostat. Homebridge determines it and in Homekit also it becomes visible.
Siri determines the temperature from it and puts the temperature on it. After a while, Homekit ceases to work and is in the status of "No connection", and with all devices. HomeBridge does not issue erro

[2018-08-15 20:16] ilcato commented on #113
I'm not supporting this thermostat so what happens within the plugin is not predictable. I do not have such a device to understand its characteristics, furthermore my Home Center Died a few weeks ago and I'm currently thinking to not repair it because it is too expensive.

[2018-08-15 20:17] #106 closed

[2018-08-18 08:50] miroslavpetrov opened #114 "Remotec ZXT-120 stays on heating mode"
I have installed the newest version of the plugin 2.1.6 and I have two Remotec ZXT-120 connected to my Home Center 2. The mode of both stays only to heating. I read a previous issue from last year where few people stated this problem but finally got it fixed with the new version. Do you have any suggestions on how to fix this?

[2018-08-28 13:50] miroslavpetrov commented on #114
UPDATE: I setup a new homebridge and it works fine. However I cannot fix it on my existing homebridge. I removed the package and installed it again but its still not working....

[2018-08-30 19:57] 45clouds opened #115 "Limiting device list"
Is it possible to add parameter in configuration file that will allow to limit devices which will appear in Home.app?

When I connect to HC2 I receive a lot of devices but I don't want to control some of them via Home.app interface. It would be nice to have a list of devices (for example by entering their ID) that will be visible in HomeKit.

[2018-08-30 21:35] ilcato commented on #115
In the config.json use a new home center identity, in home center create such an identity and assign to it the device that you want to see in HomeKit.

[2018-08-31 12:31] josecarlosmoimaz commented on #115
I've done that, also because home bridge gets a bit crazy when adding a lot of devices, such as more than 100 for exemple. Creating a new user with limited number of devices allowed is the better way to solve this issue. And also you can have multiple home bridges with many users as well.

[2018-09-10 15:32] vvsokolov commented on #105
Hi @ilcato!
What about new release ? :)

[2018-09-10 15:58] ilcato commented on #105
Very busy at the moment...

[2018-09-24 16:11] lboue commented on #112
Hello,

I tried but I am getting an error even if I clone you GitHub repo without changing anything:
[code]

What did I miss?

Regards,
Ludovic

[2018-09-24 17:34] lboue commented on #112
I managed to find the right syntax to compile the files with the TypeScript compiler:
[code]

I added debugs to print siblings object in 'object.ts' file:
[code]

[code]

And another debug:

[code]

This is my code:
[code]
And I get this error:

[code]
Could you help me to fix it?

Regards,
Ludovic

[2018-09-24 18:32] ilcato commented on #112
Whats 'util' ?

[2018-09-24 18:33] ilcato commented on #112
Regarding the runtime error, as I mentioned earlier, you must also implement a new entry in GetFunctions.ts

[2018-09-24 18:40] lboue commented on #112
I was trying to import util for using the util.inspect method to help debugging

[code]
I commented it out.

I also added this in GetFunctions.ts
[code]

[2018-09-24 18:59] lboue commented on #112
I commited my changes on my GitHub repo here: https://github.com/lboue/homebridge-Fibaro-HC2/commit/4f91d7f04a9106870cfe668b31455119f5ea28d5

Now I got this new error:
[code]

[2018-09-24 23:36] ilcato commented on #112
Delete the accessories folder in .homebridge

[2018-09-27 16:55] iRonin opened #117 "Plugin reporting a problem with locking while it locks the lock"
The plugin is reporting that there is a problem when operating the lock, when both locking and unlocking, but the lock works just fine. It is causing Siri to report errors. Here are the logs:

[code]

[2018-09-27 17:02] iRonin commented on #117
Weird, everything works fine after restarting.

[2018-09-27 17:02] #117 closed

[2018-09-29 15:29] #115 closed

[2018-09-29 15:30] ilcato commented on #114
try to delete accessories folder and restart homebridge.

[2018-09-29 20:04] lboue commented on #112
What if I can't loose all my history (fakegato-history) stored in the accessories folder in .homebridge?

[2018-09-29 23:42] ilcato commented on #112
Don't know

[2018-10-02 12:33] iRonin opened #118 "False lock error notification"
I've been getting false lock error notifications (see #93) when the lock is not used (only the status is being checked):

Here is an example log:

[code]

You can see that the lock was successfully locked at 13:30 but then at 14:00 and 14:26 there was a lock error notification sent - yet the lock has not been used. I think the problem may be when the lock is being locked when it's already locked (

[2018-10-06 06:39] tampiss opened #121 "Temp font size"
Hello, is there a chance to round the temp from HC2 to Homekit Home app widgets to whole numbers (23,4 to 23)? Due to having decimal numbers, there are so small to read within the widgets in Home app. Thank you, M

[2018-10-06 08:08] lboue commented on #121
Hello,

Are you sure it will work? On my iPhone, the zero after the decimal point always appears. You can downgrade to iOS11 as a workaround.

Regards

[2018-10-06 09:29] tampiss commented on #121
Yes, Im on iOS 12. It display as you say 12,0... Id rather 12... To have the font bigger. Im ok with iOS 12... do not want to downgrad...

[2018-10-21 14:16] xlinur opened #122 "May be set room ID as part of serial number?"
For example
setCharacteristic(this.hapCharacteristic.SerialNumber, this.roomID + "_" + Math.random());

[2018-11-28 05:59] maoten2000 opened #124 "wall plug Type G"
would you please consider to add the new fibaro wall plug type G " FGWPG-111" it doesn't recognized at all or show as accessory in homekit app.

[2018-11-28 06:17] ilcato commented on #124
Can you please send me the output of the request to the http://HOME_CENTER_IP/api/devices/ID

Where HOME_CENTER_IP is your Home Center IP address and ID is the Id of the Wall plug.

[2018-11-28 07:29] maoten2000 commented on #124
[FGWPG-111.zip](https://github.com/ilcato/homebridge-Fibaro-HC2/files/2623368/FGWPG-111.zip)

[2018-11-28 10:37] maoten2000 commented on #124
working beautifly as intended!
Many thanks.

[2018-11-28 10:41] #124 closed

[2018-11-30 18:18] kot-925 opened #125 "Fibaro rgbw status update in homekit"
When I turn the rgb backlight on or off from the HC interface , the status is not updated in the home kit.
This problem started with version 2.1.7

[2018-12-01 12:19] batalhaca opened #126 "Fibaro ZXT120 issue"
In my case i have 8 ZXT 120 in the HC2 while imported to Homebridge some funny think happend. Some Thermostate in Homekit the mode and the temperature setpoint are controlling different ZXT120. Example: i had a Bed Room and a Living room while i control the Living Room in Homekit to set Cool in the Living Room but the Bed Room ZXT 120 responded and if i control the Living Room setpoint and Living

[2018-12-02 13:23] adamkasprzak opened #127 "Security - how the system work"
Hi!

I have read the Wiki -
https://github.com/ilcato/homebridge-Fibaro-HC2/wiki/Fibaro-Security-System-configuration-for-HomeKit for the security system, but I don’t understand how actually the system work - what is the algorithm. Could someone please explain.

After setting the state in home app, the change is set in the Fibaro home center? The fibaro Hcl scene is triggered based on the variable

[2018-12-02 13:31] adamkasprzak commented on #127
Currently I run the scene “arm the alarm” manually, when I leave my home. The scene is arming the sensors (doors, motion) and when the alarm is breached when I come back (example - door is opened), the alarm is on and the actions in the alarm panel in HCL are running. I have to put a pass in order to stop the alarm. After successfull stop, the scene “alarm off” is trigged which is turning on the l

[2018-12-03 03:11] 1206403782 opened #128 "Can we do the equipment to automatically allocate rooms?"
When we have a lot of devices in HC2, such as more than 100, we need to distribute the devices one by one to the room in Homekit. Also, when our equipment exceeds 80, after two or three days, the equipment in HomeKit will be down, all the equipment will disappear for no reason, so we have to re-add it.

[2018-12-03 05:42] ilcato commented on #128
HomeKit doesn't allow more than 100 devices on a single bridge. You need to filter them in Home Center by using a specific username with access right to n more than 100 Home Center IDs.

[2018-12-03 07:06] 1206403782 commented on #128
Ok, I understand. In addition, can the function of automatically assigning rooms be done?

[2018-12-20 09:08] aotearoait opened #129 "Error getting data from Home Center"
I did an upgrade of HomeCenter to 4.520 and then did a clean install of raspberry pi lite, homebridge and hc2 and this is the error I now get. Weird thing is, even if I put incorrect login details, it throws the same error. Any help would be appreciated.
![image](https://user-images.githubusercontent.com/33107115/50275205-b71fb680-04a3-11e9-8d27-fdacbfa5b3ad.png)

[2018-12-20 09:36] #129 closed

[2018-12-23 08:38] Deniska93 opened #130 "Single Switch not shown in Homebridge"
Hello.

I just got my Raspberry and installed homebridge, which works very well with my Hue Plugin (for Osram lightify plugs) and also well with the Fibaro Plugin for my Roller Shutter. But the plugin does not see my Single Switch. In Homecenter the Single Switch is shown and works, but the Homebridge Plugin just reads out the Roller Shutter. Is there any option I have to configure in Homecenter o

[2018-12-23 08:40] ilcato commented on #130
Which product is it?

[2018-12-23 08:40] Deniska93 commented on #130
Fibaro Single Switch

[2018-12-23 09:32] ilcato commented on #130
Which specific version? Model number?

[2019-01-08 09:22] Deniska93 commented on #130
Hey! Sorry for late response, was on holiday. I have a Fibaro Single Switch 2. How to find out the specific Model number?

[2019-01-08 11:50] Deniska93 commented on #130
Hey, is this what you need?

  "id": 17,
  "name": "Steckdose",
  "roomID": 1,
  "type": "com.fibaro.binarySwitch",
  "baseType": "com.fibaro.actor",
  "enabled": true,
  "visible": true,
  "isPlugin": false,
  "parentId": 14,
  "remoteGatewayId": 0,
  "interfaces": [
    "deviceGrouping",
    "energy",
    "light",
    "power",
    "zwave",
    "zwaveMultiChannelAssociation",
    "zwaveProtection

[2019-01-08 12:01] ilcato commented on #130
Yes it is.
From here I see that the device is described as "com.fibaro.binarySwitch" that is a supported type bu the plugin.

Are you using for the plugin a specific Home Center user ? Did you assign the correct device visibility for it?

[2019-01-08 12:04] Deniska93 commented on #130
Ahhhh, big thanks! That was the error! I use a specific User for HomeBridge Login at HomeCenter and this user had no access to the Switch! I changed that and now it works!

Thanks a lot! :-)

[2019-01-08 12:11] #130 closed

[2019-01-08 13:34] #128 closed

[2019-01-11 07:30] carlittoer opened #131 "Heating / Cooling Panels as Thermostats"
Hi,

Is it possible to expose heating and cooling zones as thermostats in the home app the same way they appear in the Fibaro App?

The API lists that the heating and cooling panels (zones) support all methods  ```GET, DELETE, POST, PUT```

```URL: /api/panels/heating```

temperature sets.

```URL: /api/panels/cooling```

temperature sets.

[2019-01-11 07:33] ilcato commented on #131
I already explored this opportunity but I didn’t find suitable actions. Can you check too?

[2019-01-11 07:52] carlittoer commented on #131
Will try of course. I will get familiar with the code first.

Can you please guide me on the challenges you faced while checking this so I can continue from there..

[2019-01-11 10:14] ilcato commented on #131
Will check tonight

[2019-01-12 13:10] Dakkerad opened #132 "Donation button"
You seriously need a donation button! I am so grateful for your plugin, and every problem I have had, you have fixed.
I wan't to thank you, and I bet a lot of other people want to aswell

[2019-01-12 14:51] carlittoer commented on #131
Hello !

I tried to do some rest requests and I confirm that setting the "handTemperature" of the zone is working. However I am not familiar with TypeScript sorry !

[code]

[2019-01-12 14:53] carlittoer commented on #131
Hello !

I did some REST test requests and I confirm that you can change the zone "handTemperature" via the API which could expose the heating and cooling panels as thermostats in the home app I hope.

[code]

[2019-01-13 12:52] ilcato commented on #131
@carlittoer, I'm still not able to set the handTemperature of the panel. Can you confirm that your are using a PUT request to /panels/heating/{heatingID} with a body of:
`{"mode":"Manual","properties": {"handTemperature":5}}`

?

[2019-01-13 13:10] ilcato commented on #131
@carlittoer, I also need to set the handTimestamp value

[2019-01-13 15:07] ilcato commented on #131
Ok, to return to schedule mode I need to set handTemperature and handTimestamp to 0.
I think that I have all the elements to implement an HomeKit thermostat on top of the heating zones.

[2019-01-13 15:43] arcy67 commented on #128
Hello Ilcato, I tried to compile iOS app with Xcode v 8.3, but Xcode needs to convert to current swift syntax, and after conversion the build fails with 43 errors...

Do you plan to update the project in the future? Or have I made some mistake?

I used your app in the past and have been very useful! I Have lots of rooms and devices in HC2.

Thank you very much.

[2019-01-13 15:56] ilcato commented on #128
sorry, I do not have plan to upgrade it. no time and. no budget

[2019-01-13 16:48] carlittoer commented on #131
oh great ! This could also work with cooling panels as well for air conditioners  :)

Thanks man... can't wait ;)

[2019-01-13 16:49] carlittoer commented on #131
Yes it was a put request with the same data load...

[2019-01-13 17:09] carlittoer commented on #131
Question, do you think 1 thermostat could have the heating mode control the heating panel and cooling mode control the cooling panel?

[2019-01-13 17:48] ilcato commented on #131
I think so

[2019-01-14 11:00] arcy67 commented on #128
Grazie, peccato, l’app era molto utile!
Per fortuna ho trovato un vecchio iphone che aveva ancora l’app e me la sono cavata con quello. Ora mi terro’ stretto l’iphone :-)

Grazie, ciao.

[2019-01-16 14:04] mbnn opened #133 "Pollerperiod error"
[code]

Any idea? New install with homebridge on a Synology NAS.

[2019-01-16 14:35] ilcato commented on #133
Where did you put config.json?

[2019-01-16 14:51] mbnn commented on #133
In the default path where the other Homebridge plugin also is:

`{
    "bridge": {
        "name": "Homebridge",
        "username": "CC:22:3D:E3:CE:30",
        "port": 51826,
        "pin": "031-45-154"
    },
    "description": "This is an example configuration file. You can use this as a template for creating your own configuration file containing devices you actually own.",
    "accessories":

[2019-01-16 15:19] giovysax commented on #125
Hello,same problem for me.

[2019-01-16 16:53] ilcato commented on #133
It seems to me that you not closing the ] for the property sensors for the plugin Plex.

[2019-01-16 16:58] mbnn commented on #133
I'm a noob :P  Placed the config wrong, my bad! It's fixed now :)

[2019-01-16 16:58] #133 closed

[2019-01-20 17:05] carlittoer commented on #131
Hi,

Are you planning to release this soon? Thanks.

[2019-01-20 17:51] ilcato commented on #131
Very busy atm

[2019-01-22 15:34] alteum-Fib opened #134 "Aeon Labs Dimmer seen as switch"
Hi,

I have dimmer seen as a switch. Is a dimmer  AEON LABS 1.15

So, in home, not possible to use as dimmer, only as switch.

When I use the "dimmer" slide bar, it toggles off or on, no intermediate state.

Any idea ?

Pascal

[2019-01-31 23:56] pixeldepth commented on #102
I have the same problem as above.
I noticed that, for all RGB devices all even color changes not works, while event changes works.
Brigthness changes always works correctly.
There is no defference between using iOS app / desktop OSX app or Siri on HomePod.

**This is reproduction of my issues:**
I started with RGB light set to white: R: 255 G: 255 B:255 (in fibaro app)
Then I opened light details

[2019-02-01 10:02] pixeldepth opened #135 "Fibaro RGBW - color change sometimes not work"
I have the same problem as described in issue #102. That issue is closed but unresolved.
I noticed that, for all RGB devices all even color changes not works, while even changes works.
Brigthness changes always works correctly.
There is no defference between using iOS app / desktop OSX app or Siri on HomePod.

**This is reproduction of my issue:**
I started with RGB light set to white: R: 255 G: 2

[2019-02-01 12:03] ilcato commented on #135
@pixeldepth, unfortunately I do not have a device currently installed and cannot test it directly. Can you show me also the case when you change the brightness?

[2019-02-01 12:20] pixeldepth commented on #135
Examples of brightness change:
[code]
Another one:
[code]

[2019-02-01 14:22] ilcato commented on #135
I think I found the problem and fixed it.
This repository contains the fix, are you able to test it before publishing on npm?

[2019-02-01 14:55] pixeldepth commented on #135
I tested it and it's working correctly. You can publish it.
Thank you very much.

[2019-02-01 15:19] ilcato commented on #135
Done

[2019-02-01 15:19] #135 closed

[2019-02-01 15:22] ilcato commented on #122
Why do you need it?

[2019-02-01 15:23] ilcato commented on #125
Can you clarify please?

[2019-02-01 15:24] ilcato commented on #134
Can  you send me the output of the http://HOME_CENTER_IP/docs/devices query for this device?

[2019-02-01 16:46] tampiss commented on #121
Well nothing special, just the fact that it has decimals, the font is unreadable. But I got used to it, so no worries. M

[2019-02-01 16:49] ilcato commented on #121
Unreadable on which device?

[2019-02-01 17:00] tampiss commented on #121
Well see the print-screen https://photos.app.goo.gl/bcpTiBE87CHT2hwG8 its on iphone x. M

[2019-02-07 14:10] alteum-Fib commented on #134
Hi,

Herewith the API of the specific device with problem

{"id":11,"name":"Spots Led Living","roomID":1,"type":"com.fibaro.multilevelSwitch","baseType":"com.fibaro.binarySwitch","enabled":true,"visible":true,"isPlugin":false,"parentId":10,"remoteGatewayId":0,"interfaces":["deviceGrouping","fibaroFirmwareUpdate","levelChange","light","zwave","zwaveConfiguration","zwaveMultiChannelAssociation","zwa

[2019-02-07 21:24] MindaugasRam opened #136 "Danalock Siri"
Hi,
plugin works great, thanks for it. I have only issue with Siri. When I ask Siri to open or close lock, it does but responses it was unable to do it. Home kit app works perfectly. Just Siri responses are faulty.
Any thoughts how to fix it. Thanks

[2019-02-07 21:26] ilcato commented on #136
No idea. I do not have such a device.

[2019-02-07 21:51] MindaugasRam commented on #136
This is what I am getting in logs, maybe it might help you

[2/7/2019, 9:50:03 PM] [FibaroHC2] Setting value to device:  47  parameter: Lock Target State
[2/7/2019, 9:50:03 PM] [FibaroHC2] Command:  unsecure, value: 0, to: 47
[2/7/2019, 9:50:03 PM] [FibaroHC2] Getting value from device:  47  parameter: Lock Current State
[2/7/2019, 9:50:03 PM] [FibaroHC2] Sent event:  hb_fhc2_value_set, to: PUT KE

[2019-02-07 22:04] ilcato commented on #134
Found the problem. Fix in the next version. Stay tuned.

[2019-02-07 22:04] #134 closed

[2019-02-07 22:44] alteum-Fib commented on #134
Top

[2019-02-08 15:14] carlittoer commented on #136
Hi,

I have the same issue as well. All works, but Siri sometimes responds that it wasn't able to unlock while the lock really unlocks... How can I help?

[2019-02-10 09:14] lboue opened #137 "Missing hapService.BatteryService"
Hello,

Could you tell me how to add the _hapService.BatteryService_ service to the accessory in the [createShadowAccessory ](https://github.com/ilcato/homebridge-Fibaro-HC2/blob/master/dist/shadows.js#L155)method?
The goal is to expose Battery Level

- Battery Service is described on page 230, [HAP-Specification-Non-Commercial-Version](https://community.ubnt.com/ubnt/attachments/ubnt/airVision_Id

[2019-02-20 16:40] 1206403782 opened #138 "The iPhone XS,XR is not adaptation,pls check it out."
Homebridge can be added to the homekit, but the device cannot be read.

[2019-02-20 16:44] ilcato commented on #138
Please explain.

[2019-02-20 16:54] 1206403782 commented on #138
IPhone XR will be stuck in the reading device during the process of adding homebridge. After waiting for a while, you can enter the main interface. The homebridge accessory is gray, and other lights, curtains and other accessories are not displayed. It is normal to use another phone.

[2019-02-20 17:25] ilcato commented on #138
Don't have an XR. Which other phone are you using?

[2019-02-21 01:09] 1206403782 commented on #138
sorry,iphone Xmax.
When you search for and add Homebridge-fibaro-HC2 with the iphone Xmax, it takes a long time to load, and then all the device comes out, but they all out of control. In addition, an iphone8 that normally uses homekit,when it invites iphoneXmax as a family member. The original iphone8 will be demoted from an administrator to an ordinary member, but iphone Xmax still cannot contro

[2019-02-21 05:16] ilcato commented on #138
Which version of iOs is installed on the Xmax?

[2019-02-24 11:15] #125 closed

[2019-02-24 11:18] ilcato commented on #137
This is correct. You must also implement the corresponding functions in getFunctions.ts.

[2019-02-24 11:21] ilcato commented on #127
@adamkasprzak, this is exactly what the Security System do.
I updated the wiki a little. Is it more clear?

[2019-02-25 10:24] 1206403782 commented on #138
The latest stable version 12.1.4, not bate. As long as it is IOS12 should be the same? How do we know the changes that Homekit has made in different versions?

[2019-02-25 10:43] ilcato commented on #138
Is the iphone8 also using 12.1.4 ?

[2019-02-26 08:38] 1206403782 commented on #138
Yes

[2019-02-26 17:21] ilcato commented on #138
I don't think is something related to the specific phone version.
Can you try using another app to add the homebridge to the phone (e.g.: Eve app) ?

[2019-03-06 11:00] ilcato commented on #136
@MindaugasRam, I don't think it is related to the issue but I see a misconfiguration from your logs.
Remove in config.json the rows containing:
IFTTTmakerkey
enableIFTTTnotification

and do not forget to remove the last ","

[2019-03-06 11:01] ilcato commented on #118
Are you able to reproduce the problem whenever you want?

[2019-03-06 11:01] #114 closed

[2019-03-06 11:03] ilcato commented on #126
Will check it.

[2019-03-06 11:03] #122 closed

[2019-03-06 11:04] ilcato commented on #138
@1206403782, did you try another app?

[2019-03-07 20:18] MindaugasRam commented on #136
Thanks. I fixed that. But as you said it is not relaited to danalock. Still getting that Siri error.

[2019-03-07 20:29] MindaugasRam commented on #136
@ilcato I found that someone managed to fix that on viera https://github.com/damianxd/homebridge-vera/pull/79/commits/c59f269d8a84cca11377e57cc8cdad484d7b2f6f. If you could look into it, when you have time, and fix as well if it is possible. Thanks

[2019-03-07 20:36] ilcato commented on #136
Can you post a clean log?

[2019-03-07 20:38] MindaugasRam commented on #136
[3/7/2019, 8:35:41 PM] [FibaroHC2] didFinishLaunching.
[3/7/2019, 8:35:41 PM] Homebridge is running on port 51826.
[3/7/2019, 8:35:41 PM] [FibaroHC2] Loading accessories
[3/7/2019, 8:35:41 PM] [FibaroHC2] Added/changed accessory:  Saliono sviesa
[3/7/2019, 8:35:41 PM] [FibaroHC2] Added/changed accessory:  Beatrices lempa
[3/7/2019, 8:35:41 PM] [FibaroHC2] Added/changed accessory:  Miegamo akis
[3/

[2019-03-07 20:43] MindaugasRam commented on #136
When I am asking siri door status (8:36:22), it says without problem and no errors. Just when I am asking to lock or unlock I am having that issue.

[2019-03-07 22:47] ilcato commented on #136
Let me recap: the problem is that you see the following line in the log:
`There was a problem setting value to Lock: 47`
but the command you asked is correctly executed?

[2019-03-08 07:55] MindaugasRam commented on #136
Yes. Command to lock or unlock doors is executed correctly, but Siri says “I wasn’t able to lock/unlock doors”. If I am asking Siri “what is door status” it answers correctly.

[2019-03-08 08:54] ilcato commented on #136
Which value did you put into `doorlocktimeout` parameter?

[2019-03-08 09:39] MindaugasRam commented on #136
"doorlocktimeout": "3"

[2019-03-08 09:39] carlittoer commented on #136
In my case, changing doorlocktimeout values is not affecting the behavior.
I tried 0, 3 (the time needed for the lock and actually fully lock) and
higher values.

What is this parameter used for really?

On Fri, Mar 8, 2019 at 10:54 AM ilcato <notifications@github.com> wrote:

[2019-03-08 09:44] ilcato commented on #136
IT should signal via IFTT a mismatch between the command sent to the lock and the real status after N seconds.

@MindaugasRam put it to 0 or better remove the line from the config.json and try again please.

[2019-03-08 10:22] carlittoer commented on #136
So if you're not using IFTT, it's not needed. Right ?

On Fri, Mar 8, 2019 at 11:44 AM ilcato <notifications@github.com> wrote:

[2019-03-08 10:39] ilcato commented on #136
Correct

[2019-03-08 11:54] MindaugasRam commented on #136
I deleted all line. Still same

[2019-03-08 16:47] MindaugasRam commented on #136
it works good with Siri Shortcuts

[2019-03-08 16:52] ilcato commented on #136
@MindaugasRam, what did you find in this commit that let you think about a solution ?

[2019-03-08 17:06] ilcato commented on #136
@MindaugasRam, can you send me the configuration of the device through the rest api?

[2019-03-08 17:14] MindaugasRam commented on #136
I've been searching and found this https://github.com/ptz0n/homebridge-verisure/issues/29, but I am not familiar with coding so thought you might be able to see that code and maybe find solution for yours :)

[2019-03-08 17:16] MindaugasRam commented on #136
rest api - what do you mean? I am running homebridge in docker on synology nas, where you want me to look for it?

[2019-03-08 17:24] ilcato commented on #136
connect to http://HOME_BRIDGE_IP/docs

select devices

insert the device id of the lock

read the response and sen it to me.

[2019-03-08 17:31] MindaugasRam commented on #136
http://HOME_BRIDGE_IP:port/docs - brings me to homebridge home page

[2019-03-08 17:33] carlittoer commented on #136
{"id":250,"name":"Doorlock","roomID":17,"type":"com.fibaro.doorLock","baseType":"com.fibaro.securityMonitoring","enabled":true,"visible":true,"isPlugin":false,"parentId":199,"remoteGatewayId":0,"interfaces":["accessControlEvent","battery","fibaroFirmwareUpdate","zwave","zwaveAlarm"],"properties":{"parameters":[],"pollingTimeSec":0,"zwaveCompany":"Poly-control","zwaveInfo":"3,4,61","zwaveVersion":"

[2019-03-08 17:34] ilcato commented on #136
Thanks @carlittoer

[2019-03-08 17:43] ilcato commented on #136
@MindaugasRam, @carlittoer,
when the problem arise is the lock status reported by the Homecenter app correct? How much time does it take, after the voice command, to change the lock state for both the physical device and the HomeCenter app widget?

[2019-03-08 17:50] MindaugasRam commented on #136
Homecenter app status is correct. Siri answers in no time, like straight away. It takes about 3-5 secs to change lock status. Homecenter app is quicker to report correct value, diferrence 2-3 secs

[2019-03-08 17:51] MindaugasRam commented on #136
when the device (lock) starts to lock or unlock, siri gives the error message.

[2019-03-08 18:00] iRoninDev commented on #118
No, I’m not. It happens from time to time, like last Tuesday it happened 3 times at different time, or I can see there were cases of two alerts in the same minute. It happens maybe once a month, always when the lock is locked.

[2019-03-08 18:07] iRonin commented on #118
No, I’m not. It happens from time to time, like once a month. I can see it happened three times at different time last Tuesday or in Jan bursts of two notifications two days in a row.

[2019-03-08 18:21] carlittoer commented on #136
Agree, Siri instantly responds with the Sorry msg... the status in HC2 is
updated in the same time correctly.

Comparing the 2 jsons, when locked, the only properties that change are :

value: false becomes true
secured: 0 becomes 255

On Fri, Mar 8, 2019 at 7:51 PM MindaugasRam <notifications@github.com>
wrote:

[2019-03-08 19:22] MindaugasRam commented on #136
guys could you please help me to do that rest api and get my values. Do I need some additional software or different browser (using safari)? I know, I might be very behind you, but still want to learn. Thanks

[2019-03-08 19:32] carlittoer commented on #136
Sure !

No additional software needed. You need to be logged in though.

Directly from your browser go to:

http://<fibaro-ip>/api/devices

For a specific device:

http://<fibaro-ip>/api/devices/<deviceid>

For the API reference :

http://<fibaro-ip>/docs

On Fri, Mar 8, 2019 at 9:22 PM MindaugasRam <notifications@github.com>
wrote:

[2019-03-08 19:36] MindaugasRam commented on #136
Thanks @carlittoer

This is mine:{"id":47,"name":"Paradines durys","roomID":3,"type":"com.fibaro.doorLock","baseType":"com.fibaro.securityMonitoring","enabled":true,"visible":true,"isPlugin":false,"parentId":46,"remoteGatewayId":0,"interfaces":["accessControlEvent","battery","fibaroFirmwareUpdate","pinCode","zwave","zwaveAlarm"],"properties":{"parameters":[{"id":1,"size":1,"value":0},{"id":2,"size

[2019-03-08 20:56] ilcato commented on #136
What’s the value for poller interval?

[2019-03-08 20:57] MindaugasRam commented on #136
"pollerperiod": "2",

[2019-03-08 21:00] MindaugasRam commented on #136
in fibaro: Device pooling time interval: 300

[2019-03-08 21:01] ilcato commented on #136
Can you try 1 instead of 2?

[2019-03-08 21:03] MindaugasRam commented on #136
did. still getting error

[2019-03-08 21:10] ilcato commented on #126
Can you try expose only one device to Homebridge and see if it works?

[2019-03-09 01:49] batalhaca commented on #126
Hi,

I found that the issue only occurs when Fibaro systems had a few remote gateways. Only the ZXT120 from the remote gateway will have this issue and will be fine if all other ZXT are on the main gateway.

Carlos

Sent from my iPhone

[2019-03-09 05:30] ilcato commented on #136
Can you try to replace the following file in your setup:

https://raw.githubusercontent.com/ilcato/homebridge-Fibaro-HC2/master/dist/setFunctions.js

?

[2019-03-09 10:31] MindaugasRam commented on #136
I have changed. Restarted. Same error

[2019-03-09 16:46] ilcato commented on #136
@MindaugasRam , @carlittoer which version of node.js and Homebridge do you have?

[2019-03-09 17:23] MindaugasRam commented on #136
homebridge-config-ui-x v3.9.6 - node.js v10.15.2

[2019-03-09 17:24] MindaugasRam commented on #136
homebridge Version 0.4.46

[2019-03-09 20:52] ilcato commented on #136
@MindaugasRam can you try again with this file:

https://raw.githubusercontent.com/ilcato/homebridge-Fibaro-HC2/master/dist/setFunctions.js

[2019-03-10 06:54] carlittoer commented on #136
Hi,

Not sure if in the correct direction, but I tried to increase the timeout
value in setTimeout and placed a log inside. Siri responds with sorry even
before this code is being executed.

Anything you want me try?
On Sat, Mar 9, 2019 at 10:52 PM ilcato <notifications@github.com> wrote:

[2019-03-10 07:05] ilcato commented on #136
Interesting. Try with 0.

[2019-03-10 07:36] carlittoer commented on #136
Did not work either.

Is there a way to make Siri wait before giving back an answer?

Is this a callback hell as referred to here?
https://github.com/nfarina/homebridge/issues/6

The other commit in the Vera project that @MindaugasRam has mentioned uses
Promises instead of callbacks.

On Sun, Mar 10, 2019 at 9:05 AM ilcato <notifications@github.com> wrote:

[2019-03-10 16:09] ilcato commented on #136
Got the idea but I based almost all of the plugin on promises.
Can you try changing both:
https://raw.githubusercontent.com/ilcato/homebridge-Fibaro-HC2/master/dist/setFunctions.js
https://raw.githubusercontent.com/ilcato/homebridge-Fibaro-HC2/master/dist/index.js

?

[2019-03-10 19:06] carlittoer commented on #136
Thanks again for your great support on this.

I am sorry to say it did not work.

On Sun, Mar 10, 2019 at 6:09 PM ilcato <notifications@github.com> wrote:

[2019-03-10 19:29] ilcato commented on #136
Can you enable debug mode of Homebridge?

[2019-03-11 05:03] carlittoer commented on #136
Ok I will.

Do you think this might be related?

https://github.com/nfarina/homebridge/issues/1461
On Sun, Mar 10, 2019 at 9:29 PM ilcato <notifications@github.com> wrote:

[2019-03-11 06:01] ilcato commented on #136
I’m using the standard types. Let’s see the logs.

[2019-03-11 06:50] carlittoer commented on #136
Can I send you this info somewhere else ? It contains sensitive information.

On Mon, Mar 11, 2019 at 8:01 AM ilcato <notifications@github.com> wrote:

[2019-03-11 07:01] ilcato commented on #136
Email

[2019-03-12 14:40] MindaugasRam commented on #136
Thank you! Now I am very happy, works like a charm!

[2019-03-12 14:47] ilcato commented on #136
@MindaugasRam, did you try the commit of this morning?

[2019-03-12 14:49] ilcato commented on #136
After looking at @carlittoer logs I made a change that allow the query of the lock status only after a period of 2 seconds.

[2019-03-12 14:59] ilcato commented on #118
I fix a problem with lock command via Siri. It is in the last commit. It can be related to this.

[2019-03-12 15:12] MindaugasRam commented on #136
Yes I replaced all the fix 136 files. And it works. When the command is completed it takes like 1 sec and siri confirms that it’s done.

[2019-03-12 15:26] ilcato commented on #136
Would you mind to test with a delay of 1 second instead of 2?

[2019-03-12 15:43] MindaugasRam commented on #136
Yes I could do that. Where to change?

[2019-03-12 16:03] ilcato commented on #136
in getFunctions.js row 40 and 41

[2019-03-12 16:15] MindaugasRam commented on #136
after changing to 1 both values, it gives that error.

[2019-03-12 16:20] MindaugasRam commented on #136
Changed back to 2 and happy days again. So I'd say just leave like that and it is perfect. If someone had Danalock v3 (it response faster), might try with 1. But for v2 it is ok

[2019-03-12 17:03] ilcato commented on #136
Ok, will wait for @carlittoer test tonight.

[2019-03-12 17:06] carlittoer commented on #136
On it right now
On Tue, Mar 12, 2019 at 7:03 PM ilcato <notifications@github.com> wrote:

[2019-03-12 17:08] carlittoer commented on #136
I am getting this :

[2019-3-12 17:07:30] [FibaroHC2] Getting value from device:  200  parameter:
Lock Current State

[2019-3-12 17:07:33] [FibaroHC2] Getting value from device:  200  parameter:
Lock Target State

[2019-3-12 17:07:39] [FibaroHC2] Updating value for device:  268  parameter:
Motion Detected, value: true

[2019-3-12 17:07:39] [FibaroHC2] Error fetching updates:  TypeError:
getFunctio

[2019-03-12 17:13] ilcato commented on #136
@carlittoer, found the problem.
@MindaugasRam, did you disabled poller update? You should receive the same error.

[2019-03-12 17:22] ilcato commented on #136
ok, @carlittoer can you update also pollerupdate.js ?

[2019-03-12 19:41] MindaugasRam commented on #136
I didn’t checked logs, as it was working fine. When get back will check.

[2019-03-12 19:41] MindaugasRam commented on #136
No, I didn’t disabled it.

[2019-03-12 20:30] carlittoer commented on #136
With the latest change, I noticed that from the home app (no siri) if you
lock / unlock, it automatically changes the state of the device even before
the doorlock has performed the operation. So i reverted back to the old
code in setFunctions and now I see a spinner until the physical lock
finishes.

this.command(action, [0], service, IDs);
characteristic.setValue(value, undefined, 'fromSetValue')

[2019-03-12 20:50] ilcato commented on #136
Not sure to understand, please describe the cases with and without Siri.

[2019-03-13 05:54] ilcato commented on #136
I think you need to put the same time in getFunction and in the setFunction. I can later put it in the config.json in order to better choose the value.

[2019-03-13 09:41] carlittoer commented on #131
Hi ! I know you're busy. Just checking if this is scheduled for sometime soon :)

[2019-03-13 09:48] ilcato commented on #131
Next season :-)

[2019-03-13 10:31] MindaugasRam commented on #136
[3/13/2019, 10:29:30 AM] [FibaroHC2] Getting value from device:  47  parameter: Lock Current State
[3/13/2019, 10:29:40 AM] [FibaroHC2] Setting value to device:  47  parameter: Lock Target State
[3/13/2019, 10:29:40 AM] [FibaroHC2] Getting value from device:  47  parameter: Lock Current State
[3/13/2019, 10:29:40 AM] [FibaroHC2] Command:  secure, value: 0, to: 47
[3/13/2019, 10:29:43 AM] [FibaroHC

[2019-03-13 10:34] MindaugasRam commented on #136
this is what I am getting after restart. it were too many errors but most of them were related to fibaro motion eyes.

[2019-03-13 10:35] MindaugasRam commented on #136
this is before restart:

[3/13/2019, 10:13:51 AM] [FibaroHC2] Updating value for device:  22  parameter: Motion Detected, value: true
[3/13/2019, 10:13:51 AM] [FibaroHC2] Error fetching updates:  TypeError: getFunction.call is not a function
    at Poller.manageValue (/homebridge/node_modules/homebridge-fibaro-hc2/src/pollerupdate.ts:116:18)
    at updates.changes.map (/homebridge/node_modules/hom

[2019-03-13 10:38] MindaugasRam commented on #136
bit bumped at it (motion eye):

[3/13/2019, 10:36:16 AM] [FibaroHC2] Updating value for device:  22  parameter: Motion Detected, value: true
[3/13/2019, 10:36:16 AM] [FibaroHC2] Error fetching updates:  TypeError: getFunction.call is not a function
    at Poller.manageValue (/homebridge/node_modules/homebridge-fibaro-hc2/src/pollerupdate.ts:116:18)
    at updates.changes.map (/homebridge/node_modu

[2019-03-13 10:38] MindaugasRam commented on #136
nothing of this were happening before fix #136

[2019-03-13 10:39] carlittoer commented on #136
Hi @MindaugasRam

Please take the latest files. They fix this error in the log.

On Wed, Mar 13, 2019 at 12:38 PM MindaugasRam <notifications@github.com>
wrote:

[2019-03-13 10:47] MindaugasRam commented on #136
didn't noticed, that it was updated. Yes now works fine. Thank you

[2019-03-13 11:35] ilcato commented on #136
@MindaugasRam, @carlittoer.
Let me recap:
@MindaugasRam has no problem now.
@carlittoer has a working solution with different delays (5s instead of 2s) defined in getFunctions.

Correct?

[2019-03-13 11:42] MindaugasRam commented on #136
@ilcato correct

[2019-03-13 13:07] carlittoer commented on #136
Correct except I am using the following old code in setFunctions so that
when pressing on the icon in the home app (no siri) it works as well.

this.command(action, [0], service, IDs);
characteristic.setValue(value, undefined, 'fromSetValue');

@MindaugasRam can you confirm what happens when you press lock / unlock in
the home app now ? Is it showing that it's locked even before the lock is
locked

[2019-03-13 13:11] MindaugasRam commented on #136
@carlittoer yes you are correct, it takes like 0.5 sec for locking/unlocking and shows lock/unlock even before the action is finished. And for siri to confirm lock/unlock takes about 5 sec.

[2019-03-13 13:12] carlittoer commented on #136
So I guess we only need to make the delays in getFunctions configurable via
a parameter. Right @ilcato ?

On Wed, Mar 13, 2019 at 3:11 PM MindaugasRam <notifications@github.com>
wrote:

[2019-03-13 13:16] ilcato commented on #136
@carlittoer can you test with the last code for setFunctions.js and setting the value in row # 86 to the same value you put in getFunctions.js (5s). Specify also the same for the delay of LockTargetState.
Thanks.

[2019-03-13 14:00] carlittoer commented on #136
ok will try and keep you posted.

On Wed, Mar 13, 2019 at 3:16 PM ilcato <notifications@github.com> wrote:

[2019-03-15 12:57] ilcato commented on #136
@carlittoer, any news?

[2019-03-15 13:00] carlittoer commented on #136
Not yet sorry
On Fri, Mar 15, 2019 at 2:57 PM ilcato <notifications@github.com> wrote:

[2019-03-25 10:53] ilcato commented on #136
@carlittoer, any news?

[2019-03-26 07:03] carlittoer commented on #136
Hi !

Sorry for the late reply on this.

I've tried setting the same value in getFunctions and setFunctions.

LockCurrentState : 4s
LockTargetState : 4s
setFunctions timeout : 4000

It works without Siri. With Siri, it sends the sorry message.

However, I had to set the value of LockTargetState in getFunctions lower
than LockCurrentState (2s and 4s respectively) for Siri lock / unlock
commands to

[2019-03-26 07:26] carlittoer commented on #136
Can you please clarify what each timeout is supposed to be and how they
work one after the other  so I can test better?

On Tue, Mar 26, 2019 at 9:03 AM charles.hajj@gmail.com <
charles.hajj@gmail.com> wrote:

[2019-03-27 22:19] saschaspeidel opened #141 "Roller Shutter 3 not appearing"
Hi there,

I just updated to v2.2 with no success in seeing my roller shutter 3.
What can I do to help making that work?

Regards
Sascha

[2019-03-27 22:26] ilcato commented on #141
Can you send me the json file corresponding to it? Use http://HC_IP/docs

[2019-03-27 22:38] saschaspeidel commented on #141
Sure. Here‘s the json:

{
  "id": 184,
  "name": "Markise",
  "roomID": 13,
  "type": "com.fibaro.FGR223",
  "baseType": "com.fibaro.FGR",
  "enabled": true,
  "visible": true,
  "isPlugin": false,
  "parentId": 181,
  "remoteGatewayId": 0,
  "interfaces": [
    "energy",
    "levelChange",
    "power",
    "zwave",
    "zwaveAlarm",
    "zwaveMultiChannelAssociation",
    "zwaveProtection"
  ],

[2019-03-27 22:45] ilcato commented on #141
Fixed it will be in the next release.

[2019-03-27 22:50] ilcato commented on #136
In getFunctions the numbers are delays between the request received from HomeKit and the query to Home Center.
In setFunctions is a delay after executing the command on Home Center to align HomeKit.
@MindaugasRam can you try the @carlittoer values?

[2019-03-28 06:17] saschaspeidel commented on #141
Great! Is there an estimated release date already?

[2019-03-28 06:21] MindaugasRam commented on #136
Hi, out of home, will try tomorrow.

Kind Regards
Mindaugas

[2019-03-28 06:48] ilcato commented on #141
Soon

[2019-04-03 07:16] kot-925 opened #142 "From accessories "no answer""
The plugin stopped working, "no answer" from accessories. Reinstalled raspberry and homebridge, on a new added accessories in home kit but would still from accessories "there is no answer." I noticed that if you delete the plug-in hc2, then the rest of the platform start to work normally

[2019-04-03 07:39] carlittoer opened #143 "Security System : Stuck on Arming..."
Hi,

When changing the Alarm state (i.e: from Home to Away) the Alarm icon is stuck on Arming... and the state does not change. However In HC2 I can see that the scene has been instantly called.

Thanks.

[2019-04-05 15:34] ilcato commented on #143
Are you using the released version of the plugin or the master's one?

[2019-04-05 15:35] #138 closed

[2019-04-05 15:36] ilcato commented on #136
@MindaugasRam, any feedback?

[2019-04-05 15:42] MindaugasRam commented on #136
Sorry totally forgot. Will check evening and let you know

Kind Regards
Mindaugas

[2019-04-06 05:13] carlittoer commented on #143
Hi,

The release with the latest modifications for the danalock.

On Fri, Apr 5, 2019 at 6:34 PM ilcato <notifications@github.com> wrote:

[2019-04-06 05:55] ilcato commented on #143
can you check with the released version?

[2019-04-06 20:27] MindaugasRam commented on #136
I can't find where do I need to change those values. Could you please clarify which line. Mine lock works no issues, but if you guys want me to try smth for you please be more specific I am not so smart ;)

[2019-04-07 12:32] Krillle commented on #136
Same here: Siri closes lock, but immediately responds she was not able to, even while the lock is still operating.

Changing "doorlocktimeout" parameter to 0 or 15 has no effect

Danalock V3 Z-Wave via Fibaro HC2
homebridge-fibaro-hc2@2.2.0
homebridge@0.4.44

Here is my log file:
[code]

What is different: I do not have even the error line mentioned above ```[3/7/2019, 8:36:39 PM] [FibaroHC2] Ther

[2019-04-07 20:17] MindaugasRam commented on #136
@Krillle mine danalock works perfect with a siri as well, it has bit off delay but no more error mesages. fix #136 solved my problem, and btw I have removed lock line from homebridge config

[2019-04-07 21:13] Krillle commented on #136
@MindaugasRam Yes, I already assumed so reading the conversation. But where is fix #136? Following the link I end up here on the issue conversation page again. I can't see any code here?

[2019-04-07 21:20] Krillle commented on #136
@MindaugasRam This is good to hear. I assumed so already reading the conversation.
How did you install this fix? Manually from git hub, or is there a way via npm install?

@ilcato May I ask to update the package at npm to 2.2.1, please.

[2019-04-08 06:01] MindaugasRam commented on #136
@krillle yes you have to update it manually. Copy paste. And restart

[2019-04-08 06:03] Krillle commented on #136
@MindaugasRam Thanks for your answer. I think I will wait for the update at npm then.

[2019-04-08 08:28] ilcato commented on #136
Published current master version in pm as 2.2.1.

@Krillle, please install the upgrade and check if it works for you.

@carlittoer, @MindaugasRam please install from nom and report potential issues back here.

[2019-04-08 08:32] ilcato commented on #141
@saschaspeidel, can you test with the just published 2.2.1 version ?

[2019-04-08 08:32] ilcato commented on #142
Can you send me a log ?

[2019-04-08 08:33] #127 closed

[2019-04-08 08:34] ilcato commented on #118
@iRonin, can you test it with latest 2.2.1 version?

[2019-04-08 08:58] kot-925 commented on #142
Now everything worked. I carried out many manipulations and now everything is OK, I do not know what it was connected with.
Only one problem remained, since version 2.1.7 does not update the status of rgb, that is, if I turn on the backlight from the HC2 interface, then homekit does not show that it is enabled. On version 2.1.6 everything works well.

[2019-04-08 09:03] ilcato commented on #142
@kot-925, please create a new issue and provide a log. Thanks.

[2019-04-08 09:03] #142 closed

[2019-04-08 09:22] kot-925 commented on #142
pi@raspberrypi:~ $ homebridge
[2019-4-8 10:18:50] Loaded config.json with 0 accessories and 5 platforms.
[2019-4-8 10:18:50] ---
[2019-4-8 10:18:50] Loaded plugin: homebridge-bravia
[2019-4-8 10:18:50] Registering platform 'homebridge-bravia.BraviaPlatform'
[2019-4-8 10:18:50] ---
[2019-4-8 10:18:50] Loaded plugin: homebridge-config-ui-x
[2019-4-8 10:18:50] Registering platform 'homebridge-config-

[2019-04-08 09:30] kot-925 commented on #142
And if I include rgb from HC2 , then in a log transfers nothing

[2019-04-08 11:59] kot-925 opened #144 "RGB status update in Homekit"
With version 2.1.7 does not update the status of rgb, that is, if I turn on the backlight from the HC2 interface, then homekit does not show that it is enabled. On version 2.1.6 everything works well.

[2019-04-08 11:59] kot-925 commented on #144
[2019-4-8 10:18:50] Loaded config.json with 0 accessories and 5 platforms.
[2019-4-8 10:18:50] ---
[2019-4-8 10:18:50] Loaded plugin: homebridge-bravia
[2019-4-8 10:18:50] Registering platform 'homebridge-bravia.BraviaPlatform'
[2019-4-8 10:18:50] ---
[2019-4-8 10:18:50] Loaded plugin: homebridge-config-ui-x
[2019-4-8 10:18:50] Registering platform 'homebridge-config-ui-x.config'
[2019-4-8 10:18:5

[2019-04-08 12:01] kot-925 commented on #144
There are no errors in the log.

[2019-04-08 13:51] Krillle commented on #136
@ilcato Thanks for updating npm.
I tried to update my installation, but does not install. It hangs here:
[code]

[2019-04-08 13:56] ilcato commented on #136
@Krillle, try to uninstall and reinstall it.

[2019-04-08 14:05] Krillle commented on #136
@ilcato Uninstall went smooth. Install hangs again. Now I am stuck naked.

[code]

[2019-04-08 14:18] Krillle commented on #136
@ilcato Here is some more detailed error message:

[code]

[2019-04-08 15:44] ilcato commented on #136
yes

[2019-04-08 18:30] Krillle commented on #136
Here it is: /root/.npm/_logs/2019-04-08T14_15_31_171Z-debug.log
[code]

[2019-04-08 18:35] Krillle commented on #136
Hmm, `sudo npm install -g homebridge-fibaro-hc2@2.2.0` does not install either.
Is this a local problem on my system, or something with npm?

[2019-04-08 18:38] saschaspeidel commented on #141
Unfortunately it‘s still not visible in 2.2.1

[2019-04-08 18:45] Krillle commented on #136
It seems it was a local problem. `sudo npm cache clean --force` solved it. Now it did install.

[2019-04-08 19:01] Krillle commented on #136
@ilcato Ok, I checked with 2.2.1: Same wrong Siri response but a small change:
Siri waits until the door is locked before she says she could not do it. Means:

[2019-04-08 19:31] Krillle commented on #136
@ilcato I installed in office and at home now. Actually it works most of the cases, but not always.
There is two types of weird behavior:

A) Door is immediately unlocked after being locked - and then declared correctly as "I could not lock door". This happened multiple times.

B) Randomly Siri states she could not lock or unlock the door, despite she did. Here is the low excerpt to such a random

[2019-04-08 19:37] carlittoer commented on #136
Hi !

How many times does your danalock turn to lock the door? One or two?

I found out that mine (2 turns) needs 4 seconds to complete the operation.

In that case timeout variables (currently inside the code) should be
increased to 4s

On Mon, Apr 8, 2019 at 10:31 PM Christian Wegerhoff <
notifications@github.com> wrote:

[2019-04-08 21:16] Krillle commented on #136
The locks needs 2x 360° turns. But here indeed is probably the reason why Siri has a problem opening:

Opening the door at home includes one more turn approx 270° to unlatch the second bolt (German standard outer door). This bolt is held for 3 seconds before it is released and the opening operation is finished. (Here is an example of this operation. Old Danalock but same procedure: youtu.be/HBdI2J

[2019-04-08 21:37] ilcato commented on #141
@saschaspeidel, my mistake. Try with 2.2.2.

[2019-04-09 05:20] saschaspeidel commented on #141
Still not seeing the device. Sorry :-/

[2019-04-09 08:31] ilcato commented on #141
Can you send me row number 134 of dist/shadows.js in your installation folder?

[2019-04-09 11:37] ilcato commented on #136
Not sure to understand, unfortunately I do not have such a device.
@MindaugasRam, @carlittoer, @Krillle can you discuss and test different values on the delays in in rows 40,41 of dist/getFunctions.js and check if a single configuration is suitable for all the models ?
Maybe the 4s of @carlittoer setup?

[2019-04-09 11:45] Krillle commented on #136
@ilcato The issue is:
Additional to unlocking the lock, optionally the latch /dead bolt can be pulled back for a given amount of time. For an example see video above: [youtu.be/HBdI2Jt8C1I](https://youtu.be/HBdI2Jt8C1I) .
The duration of dead bolt being pulled back can be set in the Danalock app, means it is variable.

Besides that, unlocking of the lock sometimes takes a little longer than 4 seco

[2019-04-09 17:39] saschaspeidel commented on #141
135             case "com.fibaro.rollerShutter":
    136                 ss = [new ShadowService(new hapService.WindowCovering(device.name), [hapCharacteristic.CurrentPosition, hapCharacteristic.TargetPosition, hapCharacteristic.PositionState])];
    137                 break;

[2019-04-09 17:47] saschaspeidel commented on #141
Sorry sorry sorry. I had multiple installed instances of the npm. Cleaned it up. Look good now...

[FibaroHC2] Added/changed accessory:  Markise

[2019-04-09 17:51] ilcato commented on #141
Ok

[2019-04-09 17:52] saschaspeidel commented on #141
Again: Sorry. And thanks for developing the fix so quick!

[2019-04-09 17:52] #141 closed

[2019-04-13 16:11] ilcato commented on #143
I have no problem with the current version. Which node.js and iOs do you have?

[2019-04-13 16:27] ilcato commented on #136
@Krillle, @MindaugasRam, @carlittoer in the 2.2.3 version you can specify the delays in config.json. Please try tinkering with it and understand if each of you can find a suitable config.

[2019-04-13 18:25] Krillle commented on #136
@ilcato This is great. Thank you!

[2019-04-13 18:32] Krillle commented on #136
Can you please give a short explanation what these two values are specifying exactly?

[2019-04-13 18:44] Krillle commented on #136
I change both values to "7", but no change.
[code]
Response from Siri is given after the lock has stopped operating now. Nevertheless the is confirming the locking as successful, but still claims tat opening would not be possible. So no change.

What's weird: Home App is now sending an additional status Notification before the lock starts operating.

[2019-04-14 14:51] ilcato commented on #136
@Krillle these values delay the time at which a response to HomeKit is given allowing the correct status change in Fibaro Home Center. When the seconds specified are elapsed a query to Fibaro Home Center is executed and the response to HomeKit is returned. Please check when the status of the lock change in Fibaro Home Center starting from the command asked in HomeKit.
@MindaugasRam, seems to me th

[2019-04-14 16:48] Krillle commented on #136
@ilcato
With delay of 2 seconds I get a positive response when closing the lock and also when opening the lock wich simply unlocks (without additionally holding back the bolt).

But for the one which is holding back the bolt I get a negative reply when opening, even with a delay of 10 seconds. Homecenter is showing the status already as open after 4 seconds, while the bolt is still held back. So t

[2019-04-18 17:41] iRonin commented on #118
So far, so good 👌🏻

[2019-04-19 14:28] ilcato commented on #118
Please, close the issue when you are confident.

[2019-04-19 14:29] ilcato commented on #136
Too much cases for me to understand without testing a real physical device.

[2019-04-19 17:27] #118 closed

[2019-04-24 09:11] redeemer666 opened #147 "Security System how do I enable it"
Hello ilCato.

I have followed your wiki and enabled the security system (created variables and scenes like you said in the wiki). Since I have a secondary account on the HC2 which is used by Homebridge, I have exposed all the scenes to it. Your plugin is up and running, but nothing changed inside the "home" app...

There is something I'm missing?

[2019-04-25 21:20] lboue opened #148 "Report HC2 Unresponsive/dead accessories"
Hello,

I would report unresponsive accessories to HomeKit app. For exemple if device is not powered on, the HC2 REST API reports is as dead: `dead: "true",`

I found explanations here on the HAP-NodeJS github [Change updateValue to return not responding status #556](https://github.com/KhaosT/HAP-NodeJS/pull/556)

#### explanations

We can init an _err_ variable and then trigger an error
[code]

O

[2019-04-26 05:38] ilcato commented on #148
It's in my to do list.

[2019-04-26 07:02] redeemer666 commented on #147
My mistake... Sorry, resolved it. Keep up the good work!!

[2019-04-26 07:02] #147 closed

[2019-04-26 07:42] vvsokolov commented on #105
Hi!
Any news ?

[2019-04-26 15:46] hovorkap commented on #137
I have a working solution for this, expect a PR shortly
https://github.com/hovorkap/homebridge-Fibaro-HC2/pull/2

[2019-04-26 22:05] lboue commented on #112
Fixed by PR #150.

[2019-04-26 22:05] #112 closed

[2019-04-26 22:06] lboue commented on #137
Fixed by PR #150.

[2019-04-26 22:06] #137 closed

[2019-04-26 22:07] lboue commented on #111
Fixed by #149

[2019-04-26 22:07] #111 closed

[2019-04-27 20:41] hovorkap commented on #105
@vvsokolov Can you post the virtual device code? I can take a look.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-10 09:24] redeemer666 opened #151 "Last version (2.2.4) duplicate netatmo sensors and deleted devices don't disappear from home app"
Hello ilCato,

your latest version duplicated the temperature and humidity sensors from netatmo plugin (the only different thing is the "model", on one it appear com.fibaro.temperaturesensor and the other one is HomeCenterBridgedAccessory).

Strange thing is, even if I delete these devices from the "homekit" account in home center, they don't disappear from the home app...

Please can you investig

[2019-05-10 09:37] redeemer666 commented on #151
One more thing. The "delete" issue appears on all devices. I have tried to add a device to homekit and it appears correctly, but didn't disappears when deleted from the user account.

[2019-05-10 09:59] ilcato commented on #151
@hovorkap,
are you able to manage this cases ?

[2019-05-17 21:50] odenisenko opened #152 "SecuritySystem"
is subj is enabled then
[code]
as workaround, I have to add
[code]

[2019-05-20 11:05] hovorkap commented on #151
I can take a look once I have some spare time. I think correct way to clean a homebridge devices is to remove homebridge hub from the homekit app and then reset the homebridge itself (I use homekit ui and its link on the bottom left of the page). Does this help?

[2019-05-20 11:39] redeemer666 commented on #151
Hello Hovorkap. Before version 2.2.4 the hc2 plugin removed the devices not anymore "exposed" in the HC2 user just with an homebridge service reboot, please don't ask me to remove the entire hub from home app, I have more than 50 devices connected and divided into 11 rooms, with over 30 homekit automations activated on that devices. Removing the hub means that I have to manually restore all those

[2019-05-21 18:21] CHTHSCH opened #153 "Sensative Strips Guard BUG"
@ilcato I like the homebridge-Fibaro plugin

Yesterday I have added three Sensative Strips Guard door/window sensors. These are represented in HC as motion sensor and as door/window sensor. Only the motion sensor gets transferred through this plugin, not the door/window sensor.

Would appreciate, if this gets corrected

[2019-05-22 20:43] hovorkap commented on #151
Hi @redeemer666,

I finally got some time for investigation. Can you please post or better PM me your "{fibaro ip}/api/devices" json? I will try to init homebridge with older plugin version and then run it with newer one. Maybe homebridge or the plugin has problems with handling devices that change model/manufacturer/whatever. I was not able to reproduce with my current setup (the deletetion of fi

[2019-05-23 06:47] redeemer666 commented on #151
Writing you a PM right now

[2019-05-23 06:51] redeemer666 commented on #151
mmm Can't find a way to PM you. Posting it here (converted to txt because the site can't let me download with original extension)
[devices.txt](https://github.com/ilcato/homebridge-Fibaro-HC2/files/3210644/devices.txt)

[2019-05-26 09:18] carlittoer opened #154 "Add support for Sprinklers (irrigation)"
Hi,

Can you please add support for Sprinklers?

In Fibaro (device.properties.deviceControlType = 3) should be displayed  as irrigation system in home app.

[2019-05-26 09:21] carlittoer commented on #143
I'll try the latest release and let you know.
iOs: 12.3
Node : v9.9.0  (is this fine?)

[2019-05-27 07:21] redeemer666 opened #156 "SecuritySystem and Roller Shutters doesn't report final state on Home App."
Hello guys,

found another bug in 2.2.4, that was working correctly on 2.2.3. Roller shutters and security system remains stuck on "activating status" (like "closing", "opening", "arming", "disarming") even after the activity has been completed. To correctly update the status, you have to force close the "Home" app and reopen it. If you do this workaround, all statuses will update correctly.

[2019-05-28 09:51] hovorkap commented on #151
So far I have bad news for you, @redeemer666. I mocked fibaro api with your devices and cannot reproduce the deletion nor the doubling problem.

Steps to reproduce:
1. Install fibaro hc2 plugin v 2.2.3 to homebridge and configure homekit app
outcome: 87 devices found in the homekit app
2. Install fibaro hc2 plugin v 2.2.4 to homebridge and restart homebridge
outcome: 87 devices found in the homeki

[2019-05-29 06:37] carlittoer opened #157 "Error exception on load"
[FibaroHC2] Error getting data from Home Center:  TypeError: Cannot read property 'zwaveCompany' of undefined
    at ShadowAccessory.initAccessory (/usr/local/lib/node_modules/homebridge-fibaro-hc2/dist/shadows.js:44:52)
    at FibaroHC2.addAccessory (/usr/local/lib/node_modules/homebridge-fibaro-hc2/dist/index.js:190:25)
    at FibaroHC2.LoadAccessories (/usr/local/lib/node_modules/homebridge-fib

[2019-05-29 06:38] carlittoer commented on #157
HI I am trying to install the latest 2.2.4 and upon restart i get the following.

[2019-05-29 08:26] carlittoer commented on #136
Tested this with both values at 8 seconds.  It's working properly.

[2019-05-29 08:50] carlittoer commented on #143
Still happening on latest release / node 9.9.0 / iOS 12.3

When you change the status, it is stuck on Arming (with spinner) unless you restart the home app and fetch again the status.

[2019-05-31 11:37] redeemer666 commented on #151
Will check and let you know Petr, thank you.

Netatmo is a weather station, configured in HC2 with a plugin (now deleted on it).

Thank you for your help, will keep you posted

[2019-05-31 11:50] redeemer666 commented on #151
Just a question: I have npm 5.6.0, is safe to update it to 6.9.0? Can it help sorting this thing out?

[2019-05-31 12:17] redeemer666 commented on #151
Another quick update:
- I have tried to delete the "accessories" and "persist" folder. No luck, the dead accessories still appears in home app.
- I have reverted to version 2.2.3 (without touching anything else) and all the accessories deleted from the HC2 user have disappeared correctly from the Home app...

Is it possible that the issue appear when you don't login as superuser? I have a standard

[2019-06-02 06:24] ilcato commented on #152
please make a Pull Request

[2019-06-03 09:22] CHTHSCH commented on #153
Any comment?

[2019-06-03 09:53] ilcato commented on #153
Do not have such a device on order to test it

[2019-06-03 09:59] CHTHSCH commented on #153
I can provide information and test if necessary.

Here is the link to the device/supplier
https://sensative.com/strips/guard/

Will send information about how the device is represented in Home Center tonight

[2019-06-04 16:31] hovorkap commented on #151
Not sure. Do you use variable switches? They are buggy in 2.2.4. Do you observe any errors in the log in 2.2.4?

[2019-06-05 03:59] CHTHSCH commented on #153
<img width="779" alt="sens1" src="https://user-images.githubusercontent.com/50621196/58929357-f3e02100-8756-11e9-8ecc-a3dcbfdd6f71.png">

<img width="767" alt="sens2" src="https://user-images.githubusercontent.com/50621196/58929372-0195a680-8757-11e9-9676-d331c880080a.png">

<img width="769" alt="sens3" src="https://user-images.githubusercontent.com/50621196/58929379-08241e00-8757-11e9-81fa-b54e5a

[2019-06-06 07:33] redeemer666 commented on #151
Nope, no variable switches on my setup. How Do I check for error logs? I have tried to start homebridge in Debug mode, but didn't observe anything out of the ordinary.

[2019-06-08 11:29] CHTHSCH commented on #153
And this is the xml you can download in HCL

[id-019A-0003-0003-00-08-Sensative-.xml.zip](https://github.com/ilcato/homebridge-Fibaro-HC2/files/3268455/id-019A-0003-0003-00-08-Sensative-.xml.zip)

[2019-06-17 10:42] juanolivier opened #158 "Sensor Triggers on V2.2.4"
Automations built on movement sensor triggers stop working on version 2.2.4.
Tests:
1)If the home app is open and the movement is triggered it will sometimes work
2)If movement sensor is triggered and the home app opens with the sensor still reflecting triggered the automation worked everytime.
3)Home app closed the automation does not work when a movement sensor is tripped.

Rolled back to versio

[2019-06-17 13:56] emarrero opened #159 "fibaro action was no trigger on HomeKit"
fibaro motion was detected but no pass this action to homekit, either if I turn on or off an interrupter.
![IMG_1216](https://user-images.githubusercontent.com/1309555/59609815-1d4d6500-90e6-11e9-9944-9a5bc843b6b5.png)
![IMG_1215](https://user-images.githubusercontent.com/1309555/59609816-1d4d6500-90e6-11e9-984d-d2815388245f.png)
![IMG_0089](https://user-images.githubusercontent.com/1309555/596098

[2019-06-18 21:04] emarrero commented on #159
Sorry, I forgot to include the version of where to find the problem. The version is v2.2.4. I do rollback to V2.2.2; in this version is working fine. thanks

[2019-06-26 07:35] danholt-international opened #160 "Fibaro Walli support?"
Hi! The new Fibaro Walli outlets, switches and dimmer do not pop up in HomeKit when added to a Fibaro HCL or HC2 gateway.

[2019-06-26 13:04] carlittoer commented on #136
Hi again all !

Since the last fix (delay of 8 secs), I've been noticing a slower response from the home app to show the device statuses. After some tests, it appears that the home app is waiting the same 8 secs to show the devices statuses (stuck on updating...).

Anything can be done for the lock device only ? Remember, the issue was Siri's incorrect response when locking / unlocking the lock, n

[2019-07-03 13:57] Pascal26120 commented on #160
Hi

I have the same issue with myself HC2 gateway. They are not listed on homebridge log on startup

[2019-07-06 17:41] odenisenko opened #161 "polling is broken"
subj

[2019-07-06 17:42] odenisenko commented on #161
subj. no time for investigation.

[2019-07-11 23:23] Pascal26120 commented on #160
Up

[2019-07-17 05:59] Pascal26120 commented on #160
It's urgent

[2019-07-17 06:59] ilcato commented on #160
Sorry guys but without devices available I cannot implement and test it.

[2019-07-18 07:20] danholt-international commented on #160
Well, should we sponsor these?
Fibaro Walli already available:
https://www.danholt.de/cms/frontend/suche_shop.php?Suchbegriff=walli&submitButtonName.x=0&submitButtonName.y=0&dieseinfobox=30&naviID=0&ueber=0&sprache=deutsch

[2019-07-18 09:38] odenisenko opened #162 "Error: connect ENETUNREACH"
if FibaroHC up _after_ homebridge - FibaroHC2 stopped unexpectedly

[code]

[2019-08-09 07:41] danholt-international commented on #160
Hello again! Is there any chance to implement support for Fibaro Walli devices soon? What can we do to assist you?

[2019-08-09 08:07] ilcato commented on #160
Can you send me the result of the inquiry of the devices through the rest api?

[2019-08-09 11:25] danholt-international commented on #160
Hi!

Hre is an example of the Walli Dimmer... please let me know, if this date is what you need and we will prepare this data for Walli outlet, switch and roller shutters too.
[Walli dimmer.txt](https://github.com/ilcato/homebridge-Fibaro-HC2/files/3486109/Walli.dimmer.txt)

[2019-08-09 16:11] ilcato commented on #160
@danholt-international can you test it ?

[2019-08-09 17:20] danholt-international commented on #160
😊 👍 it works for the dimmer!
So I guess you need the results of the rest api for outlet, switch and roller shutter now...
[Walli dimmer.txt](https://github.com/ilcato/homebridge-Fibaro-HC2/files/3487378/Walli.dimmer.txt)
[Walli outlet -type F.txt](https://github.com/ilcato/homebridge-Fibaro-HC2/files/3487381/Walli.outlet.-type.F.txt)
[Walli switch.txt](https://github.com/ilcato/homebridge-Fibaro-H

[2019-08-09 18:11] danholt-international commented on #160
Missed the Roller Shutter... sorry!

[Walli RollerShutter.txt](https://github.com/ilcato/homebridge-Fibaro-HC2/files/3487555/Walli.RollerShutter.txt)

[2019-08-09 21:13] ilcato commented on #160
@danholt-international can you test it ?

[2019-08-09 21:14] ilcato commented on #162
@odenisenko, please check if you can reach the home center from the homebridge machine-

[2019-08-09 23:43] Krillle opened #165 ""Cannot read property 'pollerperiod' of null" when plugin is not in use"
When starting Homebridge where Fibaro-HC2 plugin is installed but not in use (e.g. in a second instance on the same device, to not exceed the number of devices) Homebridge crashes with the exception "Cannot read property 'pollerperiod' of null":

[code]

Plugin should abort when no parameters are found.

[2019-08-10 13:39] danholt-international commented on #160
Works! 👍
Great job! Even the venetian blend mode works fine in testing mode.
I will install a shutter now to a real blend and test even further, but I am sure it will work too as done in testing mode.

Also the switch works fine... one-load and two loads can be controlled perfectly.

Very happy with this !  🥇  😊

[2019-08-10 14:05] ilcato commented on #160
@danholt-international, feel free to involve me in the discussion you mention.

[2019-08-10 14:53] danholt-international commented on #160
Hi! Just tested the RollerShutter in real life and it works fine including lamella positioning!
I will let you know, when I have talked with guys from Fibaro.

[2019-08-11 04:51] Pascal26120 commented on #160
Hi,
Works perfectly with walli outlet.
on the other hand with walli dimmer, when I turn on the light by homekit, it goes immediately. I specify that by  fibaro app it works perfectly
Regards

[2019-08-11 15:43] ilcato commented on #160
@pascal26120, not sure to understand the issue.

[2019-08-13 14:46] ilcato commented on #165
@Krillle, this is normally a case in whiuch homebridge is not able to read the config.json file.
Please be sure to have the file in the .homebridge directory of the user that launch the homebridge program or to specify the config.json location in the command line.

[2019-08-13 14:50] Krillle commented on #165
Yes, I know. And also in case there is no section for Fibaro defined. Means the plugin is installed, but no in uses. This happens for example if you have two instances of homebriudge running on same raspberry pi.

Problem is here:
```let pollerPeriod = this.config.pollerperiod ? parseInt(this.config.pollerperiod) : defaultPollerPeriod;```
This crashes if no pollerPeriod is found in config file.
ht

[2019-08-13 14:56] ilcato commented on #165
No @Krillle the error says that `this.config` is null, so homebridge was not able to instantiate a config object for the plugin. I will check this case and exit the constructor without crashing.
Give me 15 minutes and try with the new version.

[2019-08-13 15:09] Krillle commented on #165
I send a pull request with my proposal.

[2019-08-13 15:12] Krillle commented on #165
`this.config` is null in a valid context, in case home bridge is started with the fibaro-hc2 plugin installed, while it is not in use. Means no section for fibaro plugin in config.json.

This is a valid scenario. The plugin should not crash homebridge then.

[2019-08-13 15:16] ilcato commented on #165
please do

[2019-08-13 15:41] Krillle commented on #165
You changed already. I would have done same way.

[2019-08-13 15:44] ilcato commented on #165
Yes, but this create a TS compilation problem. Will fix it.

[2019-08-13 16:20] ilcato commented on #165
@Krillle, can you try?

[2019-08-13 16:56] emarrero commented on #159
fixed in version 2.2.7

[2019-08-13 16:56] #159 closed

[2019-08-13 18:05] emarrero opened #166 "Can't change temperature unit from C to F on Fibaro HC2 because HomeKit invalid Value"
when I change Fibaro HC2 unit to F on control location panel. The homebridge-Fibaro-HC2 not validate if the unit is F or C.

 The homebridge-Fibaro-HC2 on fibaro-api.ts getDevices() the result
[code]
I change the getDevices() to fix my problem
[code]

I need to change the pollerupdate.ts. the only problem with this change is that result do not include unit to validate if is F or C. I assuming that

[2019-08-13 18:47] emarrero commented on #166
[code]

[2019-08-13 19:52] ilcato commented on #158
@juanolivier, can you test with the current version?

[2019-08-13 19:53] ilcato commented on #157
@carlittoer, is the problem still present?

[2019-08-13 19:54] carlittoer commented on #157
Nope. fixed.
On Aug 13, 2019, 10:53 PM +0300, ilcato <notifications@github.com>, wrote:

[2019-08-13 19:56] ilcato commented on #153
@CHTHSCH, can you send me the json of the response to the rest api call ?

[2019-08-13 19:58] #157 closed

[2019-08-14 04:04] CHTHSCH commented on #153
I have meanwhile retired my HC2 and I am using a Raspberry with openHAB. However, you might find the JSON string in the Z-Wave Device database (see here: https://www.cd-jackson.com/index.php/zwave/zwave-device-database/zwave-device-list/devicesummary/251)

And the JSON I downloaded from that site

{
    "database_id": 251,
    "label": "11-01-011",
    "manufacturer_name": "Sensative AB",
    "man

[2019-08-14 06:40] ilcato commented on #153
I need the json coming from home center.

[2019-08-14 06:40] #153 closed

[2019-08-14 11:02] danholt-international opened #167 "Motion sensor - no more than 10.000lux"
A fibaro motion sensor that reports more than 10.000 Lux in the Fibaro Home Center App stucks in HomeKit at 10.000lux.
So in HomeKit the displayed value is 10.000lx permanently as long as the sensor senses values abobe
<img width="824" alt="Bildschirmfoto 2019-08-14 um 11 14 18" src="https://user-images.githubusercontent.com/52234886/63016298-958c9880-be93-11e9-9e0a-6f436dda72ec.png">
<img width="

[2019-08-15 08:48] ilcato commented on #167
I don't remember why I limited it. If you can test it I set the max value to 100000 that is direct sunlight. Install it from github and not from npm, it is not yet published on npm.

[2019-08-15 08:51] ilcato commented on #162
Closing it. Reopen if you have updates

[2019-08-15 08:51] #162 closed

[2019-08-15 08:51] ilcato commented on #161
Closing it. Reopen if you have updates

[2019-08-15 08:51] #161 closed

[2019-08-15 08:52] ilcato commented on #166
Are you able to create a PR?

[2019-08-15 08:53] ilcato commented on #158
Closing it. Reopen if you have updates

[2019-08-15 08:53] #158 closed

[2019-08-15 08:56] ilcato commented on #152
It should be ok now.

[2019-08-15 08:56] #152 closed

[2019-08-15 10:43] danholt-international commented on #167
Hi!

No chance today to test… I am on a business trip.
Please if possible load the update onto npm and I can arrange that one of our employees can update our homebridge and test it.

Regards

Daniel

[2019-08-15 11:02] ilcato commented on #167
You can install it with:
`npm install -g https://github.com/ilcato/homebridge-Fibaro-HC2.git`

[2019-08-15 11:20] danholt-international commented on #167
npm ERR! code 128
npm ERR! Command failed: git clone --mirror -q https://github.com/ilcato/homebridge-Fibaro-HC2.git /root/.npm/_cacache/tmp/git-clone-ba590fc7/.git
npm ERR! fatal: could not create leading directories of '/root/.npm/_cacache/tmp/git-clone-ba590fc7/.git'
npm ERR!

npm ERR! A complete log of this run can be found in:
npm ERR!     /root/.npm/_logs/2019-08-15T11_19_34_457Z-debug.log

[2019-08-15 12:55] ilcato commented on #167
are you executing the command with root rights?

[2019-08-15 12:57] danholt-international commented on #167
yes

[2019-08-15 13:01] ilcato commented on #167
run the `sudo -s` command and then `npm install -g https://github.com/ilcato/homebridge-Fibaro-HC2.git`

[2019-08-15 15:49] danholt-international commented on #167
same issue, sorry
Will wait for the next official update.

Regards

Daniel

[2019-08-16 09:25] danholt-international commented on #167
Hi!

Any idea when you will publish the next official update release?

[2019-08-16 09:57] ilcato commented on #167
Tonight

[2019-08-16 14:52] ilcato commented on #167
published

[2019-08-18 14:27] danholt-international commented on #167
Still 10.000 Lux max in Home App 🙁

[2019-08-18 19:46] ilcato commented on #167
Did you restart homebridge? I’m out of home till next week, cannot test directly.

[2019-08-19 00:57] emarrero commented on #166
I already submit to the Pull Request. I change the way of updating the temperature with a new variable in the config and only do the conversion when FibaroTemperatureUnit = "F" if the variable is "C" does not do the conversion.

[2019-08-19 12:38] danholt-international commented on #167
yes, i restarted homebridge.
Maybe this is of interes too:
The only sensor available in Home App to create an automation is motion.
The LUX are not available and no temperature too.

[2019-08-19 16:57] ilcato commented on #167
@danholt-international, I fear that the old limit (10000) is stored on the homebridge local database. Are you able to test it on a fresh installation or to remove the accessories folder ?
Regarding the opportunity to use a lux sensor as a trigger I think its a limit of the Home app. Other apps are able to use it.

[2019-08-19 17:07] emarrero commented on #166
ilcato, thank you very much for accepting the Pull request.

[2019-08-19 17:07] #166 closed

[2019-08-20 10:04] danholt-international commented on #167
Deleting the accessories folder made my day 😉 LUX values are correct now and also above the 10.000lux limit. GREAT! Had to rearrange all my devices in HomeKit because of the deletion of the accessories folder ... maybe there is some other solution to readjust the accessories in HomeBridge as any user who already has a motion sensor already in use, will run into the same problem when updating.

[2019-08-20 12:54] Sergbmw commented on #154
Can I fix it myself?

[2019-08-20 13:01] ilcato commented on #154
Sure, create a pr

[2019-08-20 13:02] Sergbmw commented on #154
You can learn more about how to do it.

[2019-08-22 08:18] Pascal26120 commented on #160
@ilcato Sory
issue is solved

[2019-08-22 08:41] #167 closed

[2019-08-22 10:20] #160 closed

[2019-08-25 18:50] ilcato commented on #143
It works in the latest version.

[2019-08-25 18:50] #143 closed

[2019-08-25 18:56] ilcato commented on #151
@redeemer666, send me via email an address to call you; I want to understand your whole setup, because I’m not able to reproduce the problem too.

[2019-08-26 03:56] carlittoer commented on #143
Hi,

I have the latest. A change in alarm modes works and instantly changes the status in HC2 but the home app status does not change unless you restart it. It shows “Arming...”

Can I help debug?

On Aug 25, 2019, 9:50 PM +0300, ilcato <notifications@github.com>, wrote:

[2019-08-29 15:09] ilcato commented on #151
Solved in latest version.

[2019-08-29 15:09] #151 closed

[2019-08-29 15:11] ilcato commented on #165
@Krillle, were you able to test it?

[2019-08-29 15:41] Krillle commented on #165
Thanks for coming back to it. Unfortuately i didn't find the time yet.

[2019-08-29 18:11] ilcato commented on #156
Solved in the current release.

[2019-08-29 18:11] #156 closed

[2019-08-29 18:12] ilcato commented on #144
@kot-925 can you test with the latest version?

[2019-08-29 18:20] kot-925 commented on #144
Just updated. Unchanged.

[2019-08-29 18:42] kot-925 commented on #144
If you enable or disable rgb in homekit, the status is updated in the fibaro interface. But if you turn on or off in fibaro, then homekit is not updated.

[2019-08-29 19:11] ilcato commented on #126
can you test now?

[2019-08-29 19:18] ilcato commented on #144
Unfortunately I do not have the device, cannot debug it.

[2019-08-30 05:55] kot-925 commented on #144
Maybe I can debug
What do I have to do?

[2019-09-09 14:09] hovorkap opened #169 "Enhancement - Easier way to control lamellas position on venetian blinds"
There could be an option to use the main slider for lamellas rotation instead of rolling up/down the venetian blinds. Currently the lamellas can be controlled only in the settings screen.

For people (like me) who don't roll up/down venetian blinds to often and mostly open/close the lamellas, it would be handy to use the main slider for lamellas and the second one for the rolling.

So there are tw

[2019-09-09 14:16] ilcato commented on #169
I do not use venetian blinds. No opinion. Feel free to propose and/or implement a solution.

[2019-10-17 16:25] carlittoer commented on #131
Hi! Winter is coming :)

Will it be possible to have the panels work as thermostats ?

Thanks!

[2019-10-17 16:29] ilcato commented on #131
Still very busy ...

[2019-10-28 19:06] evrad91 opened #170 "MCO CO2 Monitor - CO2 sensor missing"
Hi!

I have [MCO CO2 Monitor](http://www.mcohome.com/show_list.php?id=15&sid=51) which forks perfect in Fibaro app, but I have the following issues in HomeKit app:
1. I only have temperature and humidity sensors in HomeKit, so CO2 is competely missing.
2. I am not able to group the sensors, which would be very convinient as they all come from a single device.

Is it possible to do something about

[2019-10-28 19:09] evrad91 opened #171 "Aeotec Trisensor - light and temp sensors missing"
Hi!

I have [Aeotec Trisensor](https://aeotec.com/z-wave-motion-sensor/) which works fine in Fibaro app, but I have the following issues in HomeKit app:

1. I only have motion sensor in HomeKit, so light and temperature sensors are competely missing.
Temp sensor was missed after upadting to iOS 13.
2. I am not able to group the sensors, which would be very convinient as they all come from a single

[2019-11-08 15:57] evrad91 commented on #170
Here is response:

{
  "id": 11,
  "name": "CO2",
  "roomID": 219,
  "type": "com.fibaro.multilevelSensor",
  "baseType": "com.fibaro.sensor",
  "enabled": true,
  "visible": true,
  "isPlugin": false,
  "parentId": 7,
  "remoteGatewayId": 0,
  "interfaces": [
    "zwave"
  ],
  "properties": {
    "parameters": [],
    "pollingTimeSec": 0,
    "zwaveCompany": "McoHome Technology Co., Ltd",
    "z

[2019-11-08 16:00] evrad91 commented on #171
Changed to Aeotec Multisensor 6 and all data is OK: temp, humididty, light, motion (UV and vibration missing), but not sure if they are supported by homekit anyway.

[2019-11-08 16:00] #171 closed

[2019-11-08 21:08] lboue opened #172 "Positioning is enabled even for shutter with positioning inactive"
Hello,

I am facing an issue with my blind (FGRM222) with positioning inactive on HC2 side. Positioning reported as enabled on HomeKit app and I can see it on the log file :
[code]

This was introcuced with commit b22f5b19becb1421decc2a0efdba8de0f1844abb.

You should check the 'deviceControlType' properties:
[code]
Table for shutter module:

- value="53" --> Blind with positioning inactive
- value

[2019-11-11 12:03] ilcato commented on #172
merged

[2019-11-11 12:17] lboue commented on #172
Thanks

[2019-11-11 12:17] #172 closed

[2019-11-11 14:23] ilcato commented on #170
@evrad91, CO2 sensors are not implemented in the plugin. Additionally this specific sensor describes itself as a "com.fibaro.multilevelSensor" that doesn't allow to understand that it is measuring CO2.

[2019-11-11 14:23] ilcato commented on #165
@Krillle, any news?

[2019-11-11 14:38] lboue commented on #148
Hello @ilcato.

Did you had time to work on this?

[2019-11-11 14:44] ilcato commented on #148
Very busy at the moment...

[2019-11-12 11:31] evrad91 commented on #170
@ilcato Hi! Thanks for the reply!
Got it.
Then I have follow up questions:
1. Do you plan to implement CO2 sensors?
2. Is there any way to change "com.fibaro.multilevelSensor" to the right type of sensor (carbon monoxide) in HC2 or the only way is to contact manufacturer? Does it have to be"com.fibaro.carbonmonoxideSensor"
3. Is there any way to group temp and humidity sensors as they come from a

[2019-11-12 11:37] evrad91 commented on #170
@ilcato Here is the response of the parent device:
{
  "id": 7,
  "name": "7",
  "roomID": 0,
  "type": "com.fibaro.zwaveDevice",
  "baseType": "com.fibaro.device",
  "enabled": true,
  "visible": false,
  "isPlugin": false,
  "parentId": 1,
  "remoteGatewayId": 0,
  "interfaces": [
    "zwave",
    "zwaveAssociation",
    "zwaveConfiguration",
    "zwaveSlaveRouting"
  ],
  "properties": {
    "a

[2019-11-12 15:46] ilcato commented on #170
Not for now.

[2019-12-02 13:08] marcodesantis71 opened #174 "UnhandledPromiseRejectionWarning: Error: Startup error: get scenes or devices"
Hi,

I've installed successfully the plugin in the past.

Today I receive this error on startup:

 [2019-12-2 14:06:23] [FibaroHC2] Error getting data from Home Center:  null
Dec  2 14:06:23 master homebridge_zwave[13646]: (node:13646) UnhandledPromiseRejectionWarning: Error: Startup error: get scenes or devices
Dec  2 14:06:23 master homebridge_zwave[13646]:     at /usr/lib/node_modules/homebridg

[2019-12-02 13:12] ilcato commented on #174
Which version of nodejs do you have?

[2019-12-02 13:15] marcodesantis71 commented on #174
6.13.1 on ubuntu 16.04

[2019-12-02 13:21] ilcato commented on #174
Can you upgrade to a more recent one?

[2019-12-03 10:17] marcodesantis71 commented on #174
Hi,

After HC2 restart the problem was solved.

Now I've another problem.

I create a new user on HC2. I create a variable (true/false) and create a scene with the new variable.
On config.json I set new variable on switchglobalvariables parameter.

On HC2 the new user has a permission for the scene.

When I try to start scene I receive this error:

There was a problem setting variable:  Gatto to t

[2019-12-03 10:46] marcodesantis71 commented on #174
OK.
I read a wifi. Only Super User can activate.

My Question is: is it possibile (as superuser) view only scenes create as variable?

[2019-12-03 10:51] ilcato commented on #174
Write me on email to setup a call.

[2019-12-05 13:50] #174 closed

[2019-12-09 17:36] ilcato commented on #165
@Krillle, any chance to have this tested by you? It works for me. I will close the issue the next week.

[2019-12-09 20:11] Krillle commented on #165
Yes it works for me now. Thank you for fixing.
Btw I learned that the new parameter -x is doing the same thing.

[2019-12-10 12:55] ilcato commented on #165
ok

[2019-12-10 12:55] #165 closed

[2019-12-17 08:43] marcodesantis71 opened #175 "Botton ON/OFF position"
I found a workaround to solve the problem of global variables and non-superuser users.
I created a VD that launches the scene, where global variables are declared.
At this point I created a new user with only VD permissions, so that only the necessary VDs are on HomeKit.
everything works.
The problem is the button in the Home application: as soon as it is picked up it lights up (ON status) but imm

[2019-12-17 08:49] ilcato commented on #175
The VD buttons are currently mapped to push buttons.

[2019-12-17 09:12] marcodesantis71 commented on #175
Ciao

Ok. But in this condition I don’t know if the VD is in state ON or OFF.

s it possible to change it so that it keeps up?

[2019-12-17 09:57] ilcato commented on #175
No for this kind of devices.
Remember me the problem with the global variables, please.

[2019-12-17 10:01] marcodesantis71 commented on #175
The problem is the GlobalVariable that only a superuser can update the values.
But if I configure a superuser on config on plugin, it exposes all devices (VD, HC2 Plugin, Scenes).
I would to exposes only few elements on Home Application.
So, I found the workaround, but the button stay always on OFF position, so I don't know if it is really on OFF position or not.

[2019-12-17 10:25] marcodesantis71 commented on #175
Is it possibile to configure as a Switch? same, for example, the ifttt plugin.

[2019-12-17 10:38] ilcato commented on #175
A new interface must be implemented. I inserted it into the backlog.

[2019-12-17 16:44] marcodesantis71 commented on #175
OK. Thanks.

I wait...

[2020-01-07 15:06] marcodesantis71 commented on #175
Any news?

[2020-01-19 17:12] Pascal26120 opened #176 "Error on Debian 10"
When I try to install the plugins on Debian 10.2 I have the error bellow :

Erreur de segmentation extract:http-signature: sill extract http-signature@~1.2.0 extracted to /usr/

Others homebridge plugins installed successfully

[2020-01-22 11:25] mastersteven opened #177 "Fibaro on Hoobs System"
i habe Home Center 2 with many devices. When I want to config the Fibrao Plugin on my Hoobs System (www.hoobs.org) and save this, my hoobs does not run. So I must deinstall the fibaro plugin. Can you help me, to run this on my hoobs?

[2020-01-22 12:21] ilcato commented on #177
I'm using hoobs with this plugin and it works.
are you able to see the log?

[2020-02-14 14:12] MrGh0ST commented on #92
Hello Guy’s,

Is it possible to have the « shadow.js » file with the FGT-001 mapped?

Regards.

[2020-02-15 14:14] TineTurk commented on #92
Hi Guys,
I noticed that HomeKit compatible devices are displaying sensor temperature in the circle in the top left and set temperature written at the bottom.
Homebridge (at least in my case) always displays set temperature. I guess wrong value is sent there. Is there a chance to fix that somehow, to match it with HomeKit compatible devices?

Homebridge:
![IMG_D4E043750908-1](https://user-images.gi

[2020-02-17 11:15] marcodesantis71 opened #178 "Unable to update"
Hi,

I try to update the package, but I receive a 403 error:

403 Forbidden - GET https://registry.npmjs.org/homebridge-fibaro-hc2
In most cases, you or one of your dependencies are requesting
a package version that is forbidden by your security policy.

[2020-02-18 22:43] dondiego9999 opened #179 "HC3 Support"
Is there anyway to make this plug-in working with the new Fibaro Home Control 3 Base Station?

[2020-02-19 00:22] Mx-Razvan commented on #179
It works

[2020-02-19 08:12] dondiego9999 commented on #179
YESSS :) Perfekt
Thank you

[2020-02-19 13:40] dondiego9999 commented on #179
But i always get following error when you try to change the status of a wall plug
[2/19/2020, 1:38:32 PM] [FibaroHC3] Setting value to device:  29  parameter: On
[2/19/2020, 1:38:32 PM] [FibaroHC3] There was a problem sending command  turnOff to 29

[2020-02-19 13:52] ilcato commented on #179
Do not have an HC 3. Cannot check.

[2020-02-19 19:25] dondiego9999 commented on #179
other things are working rolling shutter for example:
[2/19/2020, 7:25:00 PM] [FibaroHC3] Updating value for device:  107  parameter: Current Position, value: 0
[2/19/2020, 7:25:00 PM] [FibaroHC3] Updating value for device:  107  parameter: Target Position, value: 0
[2/19/2020, 7:25:00 PM] [FibaroHC3] Updating value for device:  107  parameter: Position State, value: 0
[2/19/2020, 7:25:03 PM] [Fib

[2020-02-19 19:26] dondiego9999 commented on #179
:(

[2020-02-20 15:34] #178 closed

[2020-02-20 15:39] marcodesantis71 commented on #175
no news?

[2020-02-20 21:55] TineTurk opened #180 "RGBW Controller 2 (FGRGBW-442) not detected"
Hello,

I noticed that my RGBW controller 2 is not detected by the Homebridge. Does anyone else has this issue or is it only me?

FGRGBW-442

[2020-02-20 22:20] suzuatama commented on #179
there is no difference in API call turnOn, so it can be the 5.020.060 having Problem with your wallplug, or ifttt notification (trun it off anr try again)

[2020-02-21 07:17] TineTurk commented on #180
Below please find json file

 {
    "id": 179,
    "name": "Ceiling LED",
    "roomID": 219,
    "type": "com.fibaro.zwaveDevice",
    "baseType": "com.fibaro.device",
    "enabled": true,
    "visible": false,
    "isPlugin": false,
    "parentId": 1,
    "remoteGatewayId": 0,
    "viewXml": false,
    "configXml": false,
    "interfaces": [
      "zwave",
      "zwaveAssociation",
      "zwaveCo

[2020-02-21 22:30] dondiego9999 commented on #179
mhmm i reinstalled the docker image -> and also set up a new docker image .. always the same

[2/21/2020, 10:29:15 PM] [FibaroHC2] Setting value to device:  263  parameter: On
[2/21/2020, 10:29:15 PM] [FibaroHC2] There was a problem sending command  turnOff to 263
[2/21/2020, 10:29:17 PM] [FibaroHC2] Setting value to device:  263  parameter: On
[2/21/2020, 10:29:17 PM] [FibaroHC2] There was a prob

[2020-02-23 12:17] TineTurk commented on #180
Hi @ilcato any chance to look at this one?

[2020-02-24 08:00] TineTurk opened #181 "Double Switch 2 (FGS-223)"
Hi,

I noticed that Double switch is corectly detected as two switches.

When triggering action, it triggers both. E.g. if I turn on #1, #2 will make the same action.

[2020-02-26 10:25] vlad-323 opened #182 "Horstmann thermostat not working, error in code"
Hello. In line 233 file /src/shadows.ts error. Must be "com.fibaro.thermostatHorstmann". I edited it for myself, rebuild and thermostat shows in homebridge.
https://github.com/ilcato/homebridge-Fibaro-HC2/blob/2426ee83099a5ef7bb9a0e79f36c766a84407bfb/src/shadows.ts#L233

[2020-02-28 20:12] ilcato opened #183 "rklruvdnf"

[2020-02-28 20:12] #183 closed

[2020-02-28 20:12] ilcato commented on #183
error

[2020-02-28 20:13] ilcato commented on #179
@dondiego9999, I'm writing a specific plugin for HC3. Are you able to test it?

[2020-02-29 04:01] Mx-Razvan commented on #179
Of course

[2020-02-29 07:19] dondiego9999 commented on #179
Yes, would be great

[2020-02-29 12:06] ilcato commented on #179
@dondiego9999 , @Mx-Razvan:  [here](https://www.npmjs.com/package/homebridge-fibaro-hc3)

Completely untested...

[2020-02-29 13:40] dondiego9999 commented on #179
This looks great
[2/29/2020, 1:38:44 PM] [FibaroHC3] Command:  turnOn, to: 103
[2/29/2020, 1:38:45 PM] [FibaroHC3] Updating value for device:  103  parameter: On, value: true
[2/29/2020, 1:38:46 PM] [FibaroHC3] Setting value to device:  103  parameter: On

[2020-03-01 06:23] Mx-Razvan commented on #179
The wall plug is working correctly. Also a POPP Flow Stop gas/water shut-off controller. In the following days will add more devices in HC3 and will provide a feedback

[2020-03-01 09:23] ilcato commented on #179
Thanks.

[2020-03-01 12:40] TineTurk commented on #180
@ilcato :)

[2020-03-01 15:04] TineTurk commented on #180
If I add:
			case "com.fibaro.FGRGBW441M":
to line 266 Homekit detects devices, but doesnt get status or can't run any command. Terminal shows the following error:

[Homebridge] [3/1/2020, 7:55:53 AM] [FibaroHC2] Getting value from device:  233  parameter: On
[Homebridge] [3/1/2020, 7:55:53 AM] [FibaroHC2] Getting value from device:  233  parameter: Brightness
[Homebridge] [3/1/2020, 7:55:53 AM] [

[2020-03-01 15:05] #181 closed

[2020-03-01 16:22] ilcato commented on #180
@TineTurk, should be right.
Are you able to identify the line nu ber in error?

[2020-03-01 16:25] TineTurk commented on #180
@ilcato Not from the log.

[2020-03-01 16:28] ilcato commented on #180
Is the device the one with ID 180 ? It doesn't have the property "color" and this can be the problem.

[2020-03-01 16:30] TineTurk commented on #180
Yes, ID 180 is RGBW controller.

[2020-03-01 16:32] ilcato commented on #180
The 182 does have the color property. Is it a different physical device? Try to put the type com.fibaro.FGRGBW442CC in the case statement.

[2020-03-01 16:42] TineTurk commented on #180
This seems to have partly solve the problem. Lights now get the roccect status on/off and color info. Fail to receive correct brightness info. Always indicating 100%
If I sett color in HC2, HomeKit gets right color info. If I set color in HomeKit no effect.

[2020-03-01 16:47] TineTurk commented on #180
I figured out one thing, that brightness (and color) is determined by the position of the color sliders. Actual brightness slider is "ignored"
<img width="730" alt="Screenshot 2020-03-01 at 17 46 03" src="https://user-images.githubusercontent.com/50627739/75629743-bf659c80-5be4-11ea-9986-bf17da3444df.png">

[2020-03-01 21:07] TineTurk commented on #180
Hi @ilcato after some testing I have identified the following issues /open points.

**ON/OFF**
Works OK!

**HomeKit -> HC2 Color setting**
Color set on the iphone doesn't seem to be registered by HC2. Works well the other way around. If color or parameters are changed on HC2, HomeKit registers it corectly.

**Brightness setting**
HomeKit doesn't detect any brightness slider changes on HC2. Brightn

[2020-03-08 11:07] TineTurk commented on #180
Hi @ilcato , does info above give you enough insight to look if something can be done?

BR T

[2020-03-08 16:04] TineTurk commented on #180
If I'm checking the log it all seems to function correctly. Setting colors & brightness OK, but settings don't seem to reach HC2.

 Log:
[Homebridge] [3/8/2020, 9:55:19 AM] [FibaroHC2] Setting value to device:  182  parameter: Hue
[Homebridge] [3/8/2020, 9:55:19 AM] [FibaroHC2] Setting value to device:  182  parameter: Saturation
[Homebridge] [3/8/2020, 9:55:19 AM] [FibaroHC2] Command:  setR, valu

[2020-03-09 15:09] TineTurk commented on #180
HI @ilcato any clue, why homebridge doesnt transmit commands to Fibaro Home Controler? Only Turn on/off commands seem to work, but not brightness or color.
Homebridge is able to read correct values.

[2020-03-09 15:12] ilcato commented on #180
I'm not able to debug it.

[2020-03-09 15:16] TineTurk commented on #180
Is there any way I could assist with feedback to provide more info?

[2020-03-21 11:52] #180 closed

[2020-03-29 10:59] TimE90 commented on #179
WOW! Nice to hear that also the upcoming model is supported!

Good Job ilcato! Where is the donation button? :)

[2020-03-29 11:25] TimE90 opened #184 "New RGBW 2 controller not added"
Hey!

My new RGBW 2 controller is not added to HomeKit. I've update to 2.3.1 and the Fibaro devices API also shows the device. But when starting homebridge it's not added/found. What am I doing wrong?

{
"id":496,
"name":"LED Decke",
"roomID":2,
"type":"com.fibaro.FGRGBW442CC",
"baseType":"com.fibaro.colorController",
"enabled":true,
"visible":true,
"isPlugin":false,
"parentId":493,
"remoteGateway

[2020-03-29 13:36] brigger commented on #180
I do have the same issue. Seems like you have been able to add to Homebridge. What did you do? Thank you in advance for tips!

[2020-03-29 13:41] TineTurk commented on #184
In my case it was automatically added once Ilcato updated shadows.

[2020-03-29 13:45] TimE90 commented on #184
Now it works. I‘ve updated the wrong npm directory :) sorry for this!

[2020-03-29 13:45] #184 closed

[2020-03-29 13:46] TineTurk commented on #184
:)

Btw, I noticed some issues with setting up the color. LEt me know your experiences.

[2020-03-30 07:51] TimE90 commented on #184
I didn't notice any color issues. Can you explain the steps to reproduce your issues?

[2020-04-09 08:21] Flopsi75 opened #185 "The Heat Controller FGT-001"
Hello
someone has started the heat controller. With me, no temperatures are transferred to the HC2.

Thank you for your support

[2020-04-09 08:27] Flopsi75 opened #186 "Iobroker Homebridge Adapter Plugin update"
Hello
How do I find out which version of the plugin I have installed? And how can I update the plugin in the iobroker adapter?

Thank you for your support

[2020-04-09 09:10] ilcato commented on #186
Sorry, I don't know the Iobroker platform.

[2020-04-09 09:10] ilcato commented on #185
Will implement a new way to manage the thermostats. Stay tuned.

[2020-04-09 09:14] ilcato commented on #182
@vlad-323, isn't it already there?

[2020-04-09 09:15] ilcato commented on #179
Goto homebridge-fibaro-hc3

[2020-04-09 09:15] #179 closed

[2020-04-09 09:15] #177 closed

[2020-04-09 09:16] ilcato commented on #176
Can you give me more info: hw platform, node version ?

[2020-04-09 17:32] Flopsi75 commented on #185
Thanks i wait.

[2020-04-14 20:17] TineTurk commented on #184
I noticed one more thing, but I'm not sure if this "issue" is insulated to FGRGBW-442 or is a general thing.

If I set specific color on iPhone at a low brightness, RGBW parameters on HC2 will be set proportionally low. If I set the same color on iPhone when brightness is set higher, RGBW parameters will be positioned proportionally higher. In both cases if I adjust brightness RGBW parameters rema

[2020-04-27 20:13] Stefan-83 opened #187 "homebridge-Fibaro-HC2 doesn't work with Homebridge 1.0.1"
**Describe The Bug:**
Since upgrading to Homebridge 1.0.1 (or 1.0.0) the homebridge-Fibaro-HC2-plugin doesn't work anymore:

**To Reproduce:**
Rebooted several times - same behavior

**Expected behavior:**
Normal startup

**Log:**
[code]

**Environment:**
Node.js Version: v14.0.0
NPM Version: v6.14.4
Homebridge Version: 1.0.1
Operating System: Raspbian GNU/Linux Stretch (9)
Process Supervisor: Sys

[2020-04-28 07:46] redeemer666 commented on #187
I’m adding this, also deleting cached accessories and persist folder doesn’t work.

[2020-04-28 08:08] tobi18ww commented on #187
same Issue

[2020-04-28 09:54] danholt-international commented on #160
Hello!

Is it correct that the current version of the hc2 plugin crashes homebridge 1.0.2 installations?

Tied several time and had to reinstall homebridge from scratch.
Instantly after installing the hc2 plugIn a restart of homebridge fails.

Regards

Daniel

[2020-04-28 09:59] ilcato commented on #160
Working on it.

[2020-04-28 09:59] ilcato commented on #187
Working on it

[2020-04-28 10:24] ilcato commented on #187
Please, install version 2.3.2. It should fix the issue.

[2020-04-28 10:48] danholt-international commented on #160
Great! Any prediction when update available?
Our house is offline currently :(

Best

Daniel

[2020-04-28 10:58] Stefan-83 commented on #187
perfect. the update resolved the issue.
Thanks :)

[2020-04-28 10:58] #187 closed

[2020-04-28 11:02] ilcato commented on #160
@danholt-international, just fixed. Please upgrade the plugin to the latest version.

[2020-04-28 12:35] emarrero opened #188 "can you implement eve fakegato-history?"
I made a fork, I am using the "fakegato-history" library this is working as you can see in the image captures. I think you can do a better implementation. you can see the changes in the fork https://github.com/emarrero/homebridge-Fibaro-HC2
This is not finished I just did it to test to see if it worked.
![IMG_0640](https://user-images.githubusercontent.com/1309555/80487632-25dc1200-892b-11ea-8ad2-

[2020-04-28 16:27] emarrero commented on #188
for your consideration add characteristic for watts and power

[2020-05-01 05:39] odenisenko opened #189 "executeDeviceAction"
hey, dear!

as i can see fibaro change parameters for calling of subj
![image](https://user-images.githubusercontent.com/44768566/80784843-09d4ac80-8b87-11ea-8514-7d792198c425.png)

more than!
you can't pass null as body anymore

[code]

[code]

[2020-05-01 08:04] ilcato commented on #189
@odenisenko, please check with homebridge-fibaro-hc2@2.3.3 version.

[2020-05-02 07:36] danholt-international commented on #160
Roller shutter and Walli Roller Shutter: Lamellas adjustment has gone.

Regards
Daniel

Von meinem iPhone gesendet

[2020-05-03 08:12] Flopsi75 commented on #185
Hey any News about the Fix for the Heat Controller ?

I can only enter the temperature once. For example 25 degrees. Then the heating goes up, but if I want to go back down and enter a different value, nothing happens. It is only possible once.

Thank you for your support

[2020-05-03 10:16] Flopsi75 commented on #186
I have found the button to update you adapter in iobroker.
In the Konfiguration of the Homebridge accessories manager in iobroker, there ist a controllpoint to update the plugin npm from git hub.
Seleckt to controllpoint an Save.
See at the Log the update.

[2020-05-04 06:57] danholt-international commented on #160
Hello!

Even version 2.3.4 for Fibaro HC2 fixes the issue:
There is no slider available in Home App to adjust the lamellas of Venetian blinds.
In earlier Versions and before Homebridge 1.x these sliders have been available.

They have gone now…
Is it possible to fix this please?

Regards

Daniel

[2020-05-04 08:41] ilcato commented on #160
@danholt-international, please try version 2.3.5.
Open a new issue in case of problem. This issue is closed and relates to another problem.
Thanks

[2020-05-04 09:23] danholt-international commented on #160
I’m sorry, v. 2.3.5 does not solve the issue.

Regards

Daniel

[2020-05-04 09:39] danholt-international opened #190 "Fibaro RollerShutter / Fibaro Walli Shutter"
For venetian blends in Home App and Eve App the slider to adjust lamellas are no longer available.

[2020-05-04 09:47] ilcato commented on #190
Can you try the Elgato Eve app or other Homekit apps?

[2020-05-04 09:52] danholt-international commented on #190
No slider for lamellas ether:

Eve App:

[2020-05-04 09:56] ilcato commented on #190
Can you send me the json descriptor of the device?
Navigate to http://HC-ADDRESS/api/devices/ID
Where HC-ADDRESS is the ip address of your Home Center and ID the device ID.

[2020-05-04 10:00] danholt-international commented on #190
Here it is:

{"id":190,"name":"Jalousie","roomID":3,"type":"com.fibaro.FGWR111","baseType":"com.fibaro.FGR","enabled":true,"visible":true,"isPlugin":false,"parentId":187,"remoteGatewayId":0,"interfaces":["deviceGrouping","energy","levelChange","power","ringColor","zwave","zwaveAlarm","zwaveMultiChannelAssociation","zwaveProtection"],"properties":{"parameters":[{"id":11,"lastReportedValue":1,"lastS

[2020-05-04 10:07] danholt-international commented on #190
… and this one too:

{"id":188,"name":"187.0","roomID":3,"type":"com.fibaro.rollerShutter","baseType":"com.fibaro.actor","enabled":true,"visible":false,"isPlugin":false,"parentId":187,"remoteGatewayId":0,"interfaces":["deviceGrouping","energy","fibaroFirmwareUpdate","levelChange","power","zwave","zwaveAlarm","zwaveMultiChannelAssociation","zwaveProtection"],"properties":{"parameters":[{"id":11,"la

[2020-05-04 10:21] ilcato commented on #190
Is "id":188 a venetian blind? Because it have deviceControlType":"0".
It should be "55"

[2020-05-04 10:24] danholt-international commented on #190
ID 188 is the first slave of ID 190

So ID 190 is correct and it has deviceControlType“:"55"

[2020-05-04 10:26] ilcato commented on #190
ok. Can you try to delete accessories folder and restart homebridge?
In the Home app I see the tilt control in the setting section of the device.

[2020-05-04 10:52] danholt-international commented on #190
Works now.

Would be great to have an option to reset one device only… had to reconfigure now more than 30 devices and a handful automations :( as all settings were lost.

Regards

Daniel

[2020-05-04 11:27] ilcato commented on #190
@danholt-international, sorry for that.
Next time you can use the jq (https://stedolan.github.io/jq/) command to delete a specific entry in the cachedAccessories file.
Use a statement like this, within the accessories directory:

`jq 'del(.[] | select(.displayName == "DEVICE_NAME") )' cachedAccessories > cachedAccessories`

replacing DEVICE_NAME with the device to delete.

[2020-05-04 12:30] Dono1984 commented on #190
Thank you very much for your work and your involvement in the implementation of Fibaro accessories in Homebridge

[2020-05-04 12:36] #176 closed

[2020-05-13 07:34] #190 closed

[2020-05-13 07:34] #189 closed

[2020-05-28 13:36] allwyn007 opened #191 "homebridge for fibaro doesnt get connected when the homecenter lite controller restarts"
my home bridge gets disconnected with fibaro hcl controller whenever the controller restarts... please suggests a way that whenver fibaro homecenter lite restart after 5 minutes homebridge(raspberry pi)should also restart

[2020-05-28 13:52] ilcato commented on #191
There's no "state" between homebridge and hc, so it shouldn't care if hc/hcl restart.
By the way how often do you need to restart hc ?

[2020-05-29 12:14] allwyn007 commented on #191
once power goes off, both hc and homebridge(raspberry pi) gets off. once power comeback fibaro needs atleast 2-3 minutes to get started  at the same time homebridge starts and is not able to get connected with hc. so i have to restart the homebridge whenever there is power outage and then only its get connected with hc and thus works with homekit..

[2020-05-29 12:27] ilcato commented on #191
I can suggest to insert a 5 minutes delay in your homebridge startup script. What are you using for the homebridge management?

[2020-05-29 12:32] allwyn007 commented on #191
docker

[2020-05-29 12:34] ilcato commented on #191
how are you starting it?

[2020-05-29 12:34] allwyn007 commented on #191
Start Homebridge
Run this command to start Homebridge
docker run -d --restart=always --net=host \
 --name=homebridge \
 -v /storage/homebridge:/homebridge \
 -e HOMEBRIDGE_CONFIG_UI=1 \
 -e HOMEBRIDGE_CONFIG_UI_PORT=8581 \
 oznu/homebridge:raspberry-pi

[2020-05-29 12:36] allwyn007 commented on #191
Homebridge Starts on Boot
Open /storage/.config/autostart.sh for editing in nano:
nano /storage/.config/autostart.sh

[2020-05-29 12:50] allwyn007 commented on #191
@ilcato can you please suggest script.. i am new to coding

[2020-05-29 12:51] ilcato commented on #191
show me the /storage/.config/autostart.sh file

[2020-05-29 12:54] allwyn007 commented on #191
docker restart homebridge

[2020-05-29 12:59] allwyn007 commented on #191
this command is added to the bottom of the line /storage/.config/autostart.sh file

[2020-05-29 12:59] ilcato commented on #191
insert `sleep 300` before it

[2020-05-29 13:02] allwyn007 commented on #191
so the command will be 'sleep 300 docker restart homebridge'

[2020-05-29 13:12] allwyn007 commented on #191
sleep 300 && docker restart homebridge &
is this command okay!?

[2020-05-29 13:18] ilcato commented on #191
No:
`sleep 300`
`docker restart homebridge`

[2020-05-30 06:35] allwyn007 commented on #191
i tried to add but it says no such file or directory

[2020-05-30 07:00] ilcato commented on #191
In wich operating system are you running the script?

[2020-05-30 07:06] allwyn007 commented on #191
raspbian

[2020-05-30 07:14] allwyn007 commented on #191
![p](https://user-images.githubusercontent.com/22258066/83322205-4fae8e80-a273-11ea-9580-6a051b87297b.png)

[2020-05-30 07:15] allwyn007 commented on #191
[Attachment_1579107572956100001_attach_137984003634650000_1579107572956100001_Reloto Homekit (6).pdf](https://github.com/ilcato/homebridge-Fibaro-HC2/files/4705242/Attachment_1579107572956100001_attach_137984003634650000_1579107572956100001_Reloto.Homekit.6.pdf)

[2020-05-30 07:23] ilcato commented on #191
Try with `sudo` before the nano command

[2020-05-30 07:25] allwyn007 commented on #191
i tried still it says same

[2020-05-30 07:25] allwyn007 commented on #191
https://github.com/oznu/docker-homebridge/wiki/Homebridge-on-LibreELEC

i followed the above to setup homebridge

[2020-05-30 08:04] ilcato commented on #191
Did you try the approach described in the last 2 pages?

[2020-05-30 08:09] allwyn007 commented on #191
in which last 2 pages?

[2020-05-30 08:12] ilcato commented on #191
You posted another to a pdf page before the previous one

[2020-05-30 08:13] allwyn007 commented on #191
yes i tried that but that was not working

[2020-05-30 08:14] ilcato commented on #191
Please execute: `/storage/.config/autostart.sh `

[2020-05-30 08:16] allwyn007 commented on #191
it says la command not found

[2020-05-30 08:19] ilcato commented on #191
Sorry `ls`

[2020-05-30 08:21] allwyn007 commented on #191
it says like this
ls: cannot access '/storage/.config/autostart.sh': No such file or directory

[2020-05-30 08:25] ilcato commented on #191
But you previously said that it contains:
`docker restart homebridge`

[2020-05-30 08:26] allwyn007 commented on #191
i thought so but now iam trying to nano its not showing... is it possible to create again

[2020-05-30 08:28] ilcato commented on #191
You must create the `.config` Folder before with `mkdir /storage/.config`

[2020-05-30 08:29] allwyn007 commented on #191
it says like this
mkdir: cannot create directory ‘/storage/.config’: Permission denied

[2020-05-30 08:30] allwyn007 commented on #191
i tried with sudo
its created

[2020-05-30 08:30] ilcato commented on #191
use `sudo mkdir /storage/.config `

[2020-05-30 08:32] allwyn007 commented on #191
its created ... can you tell me the next step

[2020-05-30 08:34] ilcato commented on #191
`Sudo nano /storage/.config/autostart.sh`

[2020-05-30 08:50] allwyn007 commented on #191
i did it and i pasted the _**sleep 300 docker restart homebridge**_ but still the problem exists

[2020-05-30 08:51] allwyn007 commented on #191
i mean the homebridge is not getting restarted

[2020-05-30 08:52] allwyn007 commented on #191
with respect to 300

[2020-05-30 08:55] ilcato commented on #191
Did you put th 2 commands into 2 different lines?

[2020-05-30 09:05] allwyn007 commented on #191
yes... still not working

shoudl i put this command in homebridge terminal or in putty

[2020-05-30 09:27] allwyn007 commented on #191
yes...
 still not working

[2020-06-11 16:30] evrad91 opened #192 "Thermostat mode does not change (only after hb restart)"
Hi!

I didnt update my homebridge for a while.  I have returned to the office and updated all npm's and homebridge. Now I face a problem with the **thermostats mode selection** from HomeKit.

**The story:**
I have 2 thermostats:
**1.	Radiator thermostat:**
ID 124 Temperature and mode
ID 125 Temperature sensor
ID 126 Mode: Off, Heat, Energy save energy

**2.	Remotec AC thermostat:**
ID 120 Temperat

[2020-06-29 13:19] TineTurk commented on #169
Hi Guys, I actually don't find any way to controll tilt position. How do you actually do it?

In an ideal way there would be a seperate switch (could be like a light switch with dimmer or  simillar), so we could set tilt setting from 1-100% or something?

Unless this function is already somewhere, but I don't find it? I can only lift it up from 1-100% and that's it.

[2020-06-29 14:23] TineTurk commented on #169
I read some other posts, and people seem to find this option under settings, but I only get this:
![IMG_3624](https://user-images.githubusercontent.com/50627739/86017815-cbdbf380-ba24-11ea-83d4-f87f799e1e8f.PNG)
![IMG_3625](https://user-images.githubusercontent.com/50627739/86017828-cf6f7a80-ba24-11ea-81d3-6692157a7262.jpg)

[2020-07-01 13:27] dkimmm opened #193 "I can not find light intensity"
Hello

I can not find light intensity on homebridge screen.

Yesterday, I found it.

How can I fix it?

Thanks

[2020-07-01 13:29] #193 closed

[2020-07-01 13:29] dkimmm commented on #193
I think it does not support ios14

[2020-07-03 10:22] Stefan-83 opened #194 "Missing Wind-Sensor"
hi,
with homebridge-fibaro-hc2 some devices like rollershutter, co-sensor or temperature are populated.
but i’m missing some devices like wind-sensor (m/s)
![image](https://user-images.githubusercontent.com/52136837/86459815-a3574080-bd27-11ea-8009-81952d8f562d.png)

It pulling up 22.0.1, 22.0.2 and 22.0.3.
But 22.0.4 and 22.0.5 are missing :(

logfiles doesn’t show any error:

[code]

is there a

[2020-07-03 10:34] ilcato commented on #194
This kind of sensor is not currently managed by this plugin.

[2020-07-04 15:02] TineTurk commented on #169
@ilcato Would it maybe make sense to create two Controllers, 1 for height and 1 for tilt?

[2020-07-08 11:52] saschaspeidel opened #195 "Error getting data from Home Center"
After updating to the latest versions the HC2 Plugin is not working.
Node: v12.18.2
npm: 6.14.6

Startup-Log:

[code]

I have no clue what to do. Can you help?

Cheers,
Sascha

[2020-07-08 12:03] #195 closed

[2020-07-08 12:04] saschaspeidel commented on #195
Why so ever there were two installations of the plugin. Sorry that i bothered you.

[2020-07-10 06:22] carlittoer commented on #86
Hello,

They have published a rest API for this device : https://manuals.fibaro.com/knowledge-base-browse/intercom-api/

It would be great if we can have it as a video doorbell (camera + gate)

Thanks !

[2020-07-15 17:28] ankitseal opened #196 "Switch Global Variables error"
Assigned 2 global variables as a list and this is the error as per the logs

[code]

[2020-07-15 21:34] #196 closed

[2020-07-15 21:35] ankitseal commented on #196
should have checked the code for the format

[2020-07-19 11:24] Oxystin commented on #192
Exactly the same problem:

Homebridge Version 1.1.1
Node.js Version 12.18.2
homebridge-fibaro-hc2 v2.3.6

Logs:
[code]

[2020-07-20 16:31] grapestech commented on #154
Hi again 👋🏻

Can you please add support for this type of device?

[2020-07-24 17:48] birdfish14 opened #197 "New Fibaro device visible in home bridge logs but how to add in Apple iPhone Home?"
I'm using Homebridge between Apple Home and Fibaro Home Center 2. But when I add a new device in Fibaro I can't find a way to add it in the Apple Home application on my Apple device (iPhone). Do I need to remove Homebridge and then add it again to be able to use the new device? A lot of work to arrange everything as it was.

I can see that Homebridge is discovering the newly added device in the lo

[2020-08-05 23:28] #192 closed

[2020-09-13 15:57] fjosepose opened #199 "Missing devices in the object list"
Hi
I´m using the Homebridge/Fibaro Plug-in in ioBroker. My problem is that not all my devices from the HC2 are "imported" into ioBridge, and some devices are missing in the object list. I have tried clean installs/restarts etc, but no improvement. My current connection HC2<->ioBridge have the following metrics, Objects=3563 and States=2986.

I do not know if this is a matter of me doing something

[2020-09-14 09:11] fjosepose commented on #199
One example of missing device is the ventilation system here in HC2:
<img width="367" alt="image" src="https://user-images.githubusercontent.com/17417348/93066915-d6e50e00-f67a-11ea-9652-c24ea5fafbdd.png">

while in ioBrokers object list the ventilation system appears as:
<img width="526" alt="image" src="https://user-images.githubusercontent.com/17417348/93067032-fe3bdb00-f67a-11ea-9787-a79bebe06

[2020-09-14 10:43] fjosepose commented on #199
The fan of my AC-system is also missing, so it seems that there is some kind of general fan-issue where "type": "com.fibaro.fanMode" ?

[2020-09-14 21:41] fjosepose commented on #126
Hi
Same issue for me...didn’t find this issue before now so I already created an new issue https://github.com/ilcato/homebridge-Fibaro-HC2/issues/199

[2020-09-22 16:37] redeemer666 opened #200 "“Nice” garage door opener not recognized by plugin"
Hi there!

I have just added to my Fibaro system a “Nice” Interface for garage doors (https://www.niceforyou.com/en/nicepost/nice-now-open-z-wavetm-smart-home-world, https://smarterhome.sk/en/garage-doors-and-gates/fibaro-nice-bidi-zwave-ibt4zwave-858.html). Fibaro recognize it without hassle, but it doesn’t appear on HomeKit.

Can you help me?

Grazie

[2020-09-22 16:38] redeemer666 commented on #200
Works like a roller shutter, so standard close, open, stop midway. No extra configurations, at least on my garage door

[2020-09-29 18:42] h3roin commented on #86
Hello ilcato, is there any progress here on this issue? I’m still ready to help with tests or something.

[2020-10-07 09:33] baafonso opened #201 "possible wrong syntax"
disregard. please close.

[2020-10-07 10:08] marcodesantis71 commented on #175
Hi,

any news?

[2020-10-09 08:43] #201 closed

[2020-10-09 08:50] baafonso commented on #126
the current release version of this plugin has a bug in file shadows.js. this bug is not present in the source file shadows.ts.

to fix open the console on homebridge and edit the file shadows.js on directory :

/usr/local/lib/node_modules/homebridge-fibaro-hc2/dist/

change:

                    controlService.subtype = (controlService.subtype || device.id + "---") + "-" + t.id;

to:

//

[2020-10-09 08:53] baafonso commented on #199
see comment on #126 .

[2020-10-09 08:55] baafonso commented on #200
can you please provide the output of:

http://_YOUR_FIBARO_IP_ADDRESS/api/devices/ID_OF_NICE_GARAGE_INTERFACE and whatever other IDs are related to it?

[2020-10-09 11:46] redeemer666 commented on #200
Hi Baafonso,

is this right?
[GET command.pdf](https://github.com/ilcato/homebridge-Fibaro-HC2/files/5354679/GET.command.pdf)

[2020-10-09 12:24] redeemer666 commented on #200
Or this one?

{"id":30,"name":"Porta Garage","roomID":1,"type":"com.fibaro.baseShutter","baseType":"com.fibaro.actor","enabled":true,"visible":true,"isPlugin":false,"parentId":29,"remoteGatewayId":0,"interfaces":["fibaroFirmwareUpdate","stepByStep","zwave","zwaveAlarm","zwaveMultiChannelAssociation","zwaveProtection"],"properties":{"parameters":[{"id":30,"lastReportedValue":0,"lastSetValue":0,"siz

[2020-10-09 13:22] baafonso commented on #200
can you send the output with ID 29?

[2020-10-09 13:27] redeemer666 commented on #200
Here you go

{"id":29,"name":"29","roomID":0,"type":"com.fibaro.zwaveDevice","baseType":"com.fibaro.device","enabled":true,"visible":false,"isPlugin":false,"parentId":1,"remoteGatewayId":0,"interfaces":["polling","zwave","zwaveAssociation","zwaveConfiguration","zwaveMultiChannelAssociation","zwaveProtection","zwaveSlaveRouting"],"properties":{"RFProtectionState":"0","RFProtectionSupport":"3","asso

[2020-10-09 13:44] baafonso commented on #200
I don't have a garage door opener, so this is absolutely untested.

If you are confortable editing files on linux:

open a console on homebridge and execute:

cd /usr/local/lib/node_modules/homebridge-fibaro-hc2/dist/
sudo nano shadows.js

find a line with the following (about 170 lines down more or less);

			case "com.fibaro.barrier":

change to:
			case "com.fibaro.baseShutter":
			case "com.fi

[2020-10-09 16:06] redeemer666 commented on #200
OK so.... Quite comfortable about the thermonuclear war... not the same with reinstalling homebridge... :) will make a a backup and try. Keep you posted.

Thanks in either cases!!

[2020-10-09 16:17] redeemer666 commented on #200
OK, it's a bit hot today here but google report no wars occurring in this area...

Added the line you told me and the device appeared immediately in Home app. First glance it works (opened and closed without issue), will give a thorough testing this weekend and update this ticket on Sunday.

Thanks Thanks Thanks

[2020-10-09 20:11] ilcato commented on #126
@baafonso, it should be fixed in 2.3.7

[2020-10-09 20:12] ilcato commented on #199
@fjosepose, it should be fixed in 2.3.7

[2020-10-09 20:12] ilcato commented on #200
@redeemer666, added into 2.3.7

[2020-10-09 20:18] carlittoer commented on #131
Hi !

Would love to see this implemented this year ...

I can help with testing.

[2020-10-09 20:57] baafonso commented on #126
@ilcato , confirmed. you can close this issue...

[2020-10-09 20:59] baafonso commented on #194
wind sensors are not supported in the Homekit specification as of Release R2.

[2020-10-09 21:52] #126 closed

[2020-10-09 22:21] redeemer666 commented on #200
First test done:
Open-Close command works very good. They also works in the "act" of opening and closing (if you close when it's opening, it will close and vice versa).

Have to try if using the remote will report the correct status into home app. Will update it later.

Notice: The accessory is like a switch, it doesn't have the "opening" and "closing" status. When you click on it, it will change

[2020-10-13 06:06] redeemer666 commented on #200
OK Last update.

Everything works perfectly. Door status recognized correctly even when used with it's own radio or directly via the central controls.

Controls are very stable and it also recognizes the "error" when an obstacle block the door.

Thanks all of you for this, keep up the really good job you're doing. Best homebridge plugin ever.

Closing this one.

[2020-10-13 06:06] #200 closed

[2020-10-13 08:27] hughc-hub commented on #199
Hi,

After last update, I'm having unresponsive results.
From HomeKit I have "missing message" from all devices, but If I enter into the web page of homebridge where you can see all devices, then in HomeKit appears for a while. It´s like once you enter there it activates something that makes everything works.
Any idea?

thanks a lot

[2020-12-22 23:07] neilpatel121 opened #202 "Support for HomeBridge 2.x or 3.x"
Tried updating to the new version of HomeBridge, unable to turn lights on or off.

[2021-01-09 12:33] sylwesterr opened #203 "Hanged HCL blocks all other plugins in Homebridge"
When for any reason HCL is unavailable, the plugin blocks response from all other plugins within Homebridge instance.
According to
https://github.com/homebridge/homebridge/issues/948
it is developers responsibility to invoke callback handler immediately while actually sending the request.
Could that be implemented please?

[2021-01-19 20:44] Krillle opened #204 "Admin Credentials to set Global Variables"
While it is helpful to use an explicit Fibaro user for Homebridge's read access to select a subset of devices, this no-admin user can't set the as well very helpful global variables acting as a bistable switch. Therefore it would be nice to add separate user credentials for this task:

[code]

Changes could be like that: https://github.com/ilcato/homebridge-Fibaro-HC2/pull/205

[2021-02-01 12:07] marmod opened #206 "how to add FGBHDW-002"
is it possible to add FGBHDW-002 to fibaro-hc2. If so, how to do it :)

[2021-02-15 17:07] uk45h opened #207 "Missing second device from Doubleswitch"
In Hoobs accessories I'm missing second light:
This in HC2:
![image](https://user-images.githubusercontent.com/22657915/107975478-73a83080-6fb8-11eb-9af2-4c50fe8fc574.png)

This is in HOOBS:
![image](https://user-images.githubusercontent.com/22657915/107975616-a8b48300-6fb8-11eb-95a8-38cf0a331753.png)

There is no mainlight :(

[2021-02-20 07:59] cryptominingbe opened #208 "HC2 will not responding after update to Homebridge 1.3.0"
Hey,

I have a big problem, namely after updating to version 1.30 of homebridge my Fibaro HC2 modules do not respond anymore.
They are visible and are also recognized when starting homebridge but they do not respond when I press them.

I also get this error message during startup:

[2/20/2021, 7:53:12 AM] [homebridge-fibaro-hc2] This plugin generated a warning from the characteristic 'Firmware Rev

[2021-02-20 11:18] crissmil commented on #204
Great idea! If only it could be implemented...

[2021-02-20 11:24] Krillle commented on #204
It’s implemented in my pull request #205

[2021-02-20 13:38] crissmil commented on #208
I have the same problem... rolling back to a previous version of Homebridge doesn't help either for me...
@cryptominingbe did u try to rollback to previous version?

[2021-02-20 14:47] crissmil commented on #204
Found it thanks!
By the way, did u manage to make it work with latest homebridge version 1.3.0?

[2021-02-20 14:58] cryptominingbe commented on #208
@crissmil
Hi,

No, a rollback doesn't help, the only thing that would help is a clean installation, but I don't like that:/
I hope on a fast solution

[2021-02-20 15:26] ilcato commented on #208
Let me check ...

[2021-02-20 15:32] cryptominingbe commented on #208
Yes please :)

[2021-02-20 16:42] ilcato commented on #208
After upgrading to 1.3 I:

- set the advertiser parameter to "ciao" in homebridge
- set the bind parameter to my network interface

 (you can change the config.json file or use the homebridge UI plugin)

 I also needed to empty the accessories folder.

After restarting homebridge the plugin works.

[2021-02-20 17:15] winkler commented on #208
Thanks for quick investigation, I've been waiting for this as well! All good now :)

[2021-02-20 17:18] cryptominingbe commented on #208
I have tried it however without success
In what way do you mean to empty the accessories folder?
I have now lost everything on the iphone, can set everything again now: /

[2021-02-20 17:20] ilcato commented on #208
remove it from .homebridge folder or use the homebridge UI

[2021-02-20 17:22] cryptominingbe commented on #208
you mean in the /var/lib/homebridge?

[2021-02-20 17:33] ilcato commented on #208
It's in the same directory where you have config.json file.

[2021-02-20 18:47] cryptominingbe commented on #208
Ok it will works again when i remove the whole map accessoires.
Make the accesoires map only empty is not enough :)

[2021-02-20 18:56] crissmil commented on #208
What do u mean? Did u delete the accessories folder from /var/lib/homebridge?
my raspberry is 300km away and I cannot properly verify the results. Can u pls detail what u did? Thanks

[2021-02-20 19:36] cryptominingbe commented on #208
so, i did the following steps:

1- set the advertiser parameter to "ciao" in homebridge
2- set the bind parameter to my network interface
3- login with ssh or terminal in the homebridge ->
cd /var
cd lib
cd homebridge
rm -f accessoires
( the whole directory)

4- restart homebridge. (last step)

and then it will works again.

[2021-02-20 21:01] cryptominingbe commented on #208
Hey,

it still doesn't work perfectly, because I notice that every time the homebridge is restarted I have to delete the accessories folder to get fibaro working again ... can this be checked again please?

[2021-02-20 21:12] crissmil commented on #208
same here... I am strugling with same problem. Once accessories folder is deleted it is working but the homebridege UI Accessories tab is empty without any accessories populated but server is working and I can control them. Once restarted, Accessories tab is populated with all my accessories but server is not working anymore.
![Untitled2](https://user-images.githubusercontent.com/16414601/10860866

[2021-02-20 21:14] crissmil commented on #208
we surely need to investigate/solve this error:

[20/02/2021, 23:07:11] [homebridge-fibaro-hc2] This plugin generated a warning from the characteristic 'Firmware Revision': characteristic was supplied illegal value: undefined! This might throw errors in the future! See https://git.io/JtMGR for more info.

[2021-02-20 21:27] crissmil commented on #208
in order to clarify:
- deleting accessories folder and then restart homebridge = server working
- next restart = server not working anymore and above error comes out. in order to make it working we need to delete accessories folder again and restart.

@ilcato please help!

[2021-02-21 07:11] ilcato commented on #208
Found the problem. Let me address it.

[2021-02-21 07:12] cryptominingbe commented on #208
Good morning :) and thanks in advance

[2021-02-21 08:38] ilcato commented on #208
@cryptominingbe, @crissmil, I just published plugin version 2.3.8. It should fix the issue. Can you test it ? I'm no more able to test on HC2.
Thanks for your support.

[2021-02-21 08:48] crissmil commented on #208
@ilcato many thanks for your efforts! it is working when deleting accessories folder and restart homebridge. but on the next restart it stops working...
see below log

Starting to advertise 'Homebridge 498B C2E3' using ciao backend!
[21/02/2021, 10:44:13] Homebridge v1.3.0 (Homebridge 498B) is running on port 51579.
[21/02/2021, 10:44:14] [FibaroHC2] Loading accessories
[21/02/2021, 10:44:14] [Fib

[2021-02-21 10:14] ilcato commented on #208
@crissmil, try version 2.3.9. Do not delete the accessories folder.

[2021-02-21 10:22] cryptominingbe commented on #208
Now it seems to be working :)

[2021-02-21 10:23] crissmil commented on #208
is working!
many thanks!

only thing is that Accessories tab is not populated
![Untitled](https://user-images.githubusercontent.com/16414601/108622166-95ce0280-743f-11eb-89ed-bb86ed2a2a48.png)

[2021-02-21 10:34] ilcato commented on #202
With the latest release you should be able to update to HomeBridge 1.3 that is the latest version of HomeBridge.
What do you mean with this issue?

[2021-02-21 10:42] ilcato commented on #208
@crissmil, never used that interface. Mine is empty too, none of the other homebridge plugin accessories are present. I will wait for an upgrade of homebridge and ui plugin before digging into this.
Closing this issue.

[2021-02-21 10:42] #208 closed

[2021-02-21 11:59] neilpatel121 commented on #202
Thanks mate, I'll try it out and share stack trace if any issues.

[2021-02-22 13:42] crissmil commented on #204
I've tried it but keep getting this error when I try to modify the switch from iPhone:
"There was a problem setting variable: XXX to true"
If I change the variable value from HC2 it is working on homekit but from homekit to HC2 not.
homebridge 1.3.0
any ideea?

[2021-02-22 13:53] Krillle commented on #204
@crissmil The error looks like it's still not using the admin login. Did you add these lines in config.json?

[code]

[2021-02-22 15:06] crissmil commented on #204
yes I did. I am using same credentials for changing variables from raspberry python apps and are working...

[2021-02-23 23:54] SNOWGUM commented on #18
Unfortunately, I'm getting this issue still? Only recently have I started to get it and I'm not sure why? The Dimmers are showing as **com.fibaro.FGD212**, I'm using the HC3 but up until now I haven't had any problems and nore should I as the API hasn't changed. Just wondering if anyone knows what's going on.

[2021-02-24 00:44] ilcato commented on #18
@SNOWGUM, for HC3 a specific plugin exists: homebridge-fibaro-hc3

[2021-02-25 12:16] danholt-international commented on #190
Hello!

I would like to inform you about some small issue with the Fibaro HCL/HC2 Plugin:

Since Homebridge 1.3 I geht a bunch of warnings about forbidden „NULL“ values and slowing down homebridge messages:

[25/02/2021, 13:08:29] [FibaroHCL] There was a problem getting value from:  382 - Err: null
[25/02/2021, 13:08:30] [homebridge-fibaro-hc2] This plugin generated a warning from the characterist

[2021-02-25 12:33] ilcato commented on #190
Did you upgraded to latest plugin version?

[2021-02-25 12:35] danholt-international commented on #190
Hi!

homebridge-fibaro-hc2 v2.3.9 is in use. As I know it is the latest and greatest.

Cheers

Daniel

[2021-02-25 12:41] ilcato commented on #190
Thank you, please open a specific new issue so I can track it.

[2021-02-25 12:41] Dono1984 commented on #190
Hello,
I don't have any problems with the module.
 I am in homebridge version 1.3.1 and hc2 2.3.9 on the other hand I had to
delete the accessory folder to have the management of my stores again.

Le jeu. 25 févr. 2021 à 13:36, danholt-international <
notifications@github.com> a écrit :

[2021-02-25 12:48] danholt-international opened #209 "Warnings and slow downs sice homebridge 1.3"
I would like to inform you about some small issue with the Fibaro HCL/HC2 Plugin v.2.3.9:

Since Homebridge 1.3 I geht a bunch of warnings about forbidden „NULL“ values and slowing down homebridge messages:

[25/02/2021, 13:08:29] [FibaroHCL] There was a problem getting value from:  382 - Err: null
[25/02/2021, 13:08:30] [homebridge-fibaro-hc2] This plugin generated a warning from the characterist

[2021-02-25 14:20] danholt-international commented on #209
... and:
[25/02/2021, 15:19:16] [homebridge-fibaro-hc2] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
[25/02/2021, 15:19:16] [homebridge-fibaro-hc2] This plugin slows down Homebridge. The read handler for the characteristic 'Outlet In Use' was slow to respond! See https://git.io/JtMGR for more info.
[25/

[2021-02-25 19:14] ilcato commented on #209
@danholt-international, I have some questions:

1. are the devices reporting error working?
2.are these warning recurring or are they present one time or corresponding to specific request you made?

[2021-02-25 19:20] ilcato commented on #204
@crissmil, @Krillle does it works on 1.3? My I merge the PR? I cannot test on HC2.

[2021-02-25 20:14] Krillle commented on #204
I will test it. 👍🏻

Am 25.02.2021 um 20:20 schrieb ilcato <notifications@github.com>:

﻿

@crissmil<https://github.com/crissmil>, @Krillle<https://github.com/Krillle> does it works on 1.3? My I merge the PR? I cannot test on HC2.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ilcato/homebridge-Fibaro-HC2/issues/204#issuecomm

[2021-02-25 21:05] Krillle commented on #204
@ilcato I am going to test the it on Homebridge 1.3. I would need some support for that. I sent you a PM on Homebridge discord.

[2021-02-25 22:45] Damianod27 opened #210 "HC2 configuration problem"
Hi.  I am new here.  I'm just starting my adventure with Homebridge.  I have already launched: Blebox, Tuya, Ewelink, Magic Home, Canbee 2 and Mqqt.  What is most important to me is the Fibaro HC2.  I don't want to act.  I can't handle it.  Can anyone help me ?

![image](https://user-images.githubusercontent.com/79320859/109228944-ec7e6800-77c2-11eb-9aa7-1d39779476ec.jpeg)

[2021-02-26 06:31] ilcato commented on #210
It seems that the host param contains an IP address not existing.

[2021-02-26 08:36] danholt-international commented on #209
Hi!

No, these devices do not show any errors when inspected with the Fibaro Homecenter client tool

It looks like a first request works well, but then an instantly following second request fails… (see marked RED lines)

Regards

Daniel

These warnings are recurring.

Please find enclosed a complete log from today generated after a hombridge restart:

Starting to advertise 'Homebridge_danholt 63D8

[2021-02-26 13:00] Damianod27 commented on #210
Where am I making a mistake?

![image](https://user-images.githubusercontent.com/79320859/109303303-e9bf5980-783a-11eb-8062-f29e37b0a3bc.jpeg)

![image](https://user-images.githubusercontent.com/79320859/109303330-f04dd100-783a-11eb-813a-10fd4d1a63e3.png)

![image](https://user-images.githubusercontent.com/79320859/109303351-f643b200-783a-11eb-9b6b-97663b36be88.jpeg)

![image](https://user-images.

[2021-02-26 13:02] Damianod27 commented on #210
Can the username be an e-mail?  Is it just the name itself?

[2021-02-26 13:24] ilcato commented on #204
@Krillle, I'm not able to see your PM.

[2021-02-26 13:25] Krillle commented on #204
@ilcato No problem. It's obsolete. I am about to test it in a fresh install.

[2021-02-26 13:28] Stefan-83 commented on #209
Same here:

[26/02/2021, 14:26:12] [FibaroHC2] Getting value from device:  15  parameter: Target Position
[26/02/2021, 14:26:12] [FibaroHC2] Getting value from device:  15  parameter: Position State
[26/02/2021, 14:26:12] [FibaroHC2] Getting value from device:  20  parameter: Current Position
[26/02/2021, 14:26:12] [FibaroHC2] Getting value from device:  20  parameter: Target Position
[26/02/2021,

[2021-02-26 14:27] Krillle commented on #204
@ilcato I don't manage to install the plugin from local Git on a fresh install of Homebridge.io image. Do you see what is the problem?

[code]

[2021-02-26 14:52] Krillle commented on #204
@ilcato I don't manage to install the plugin from my GitHub to a fresh Homebridge.io image install. Do you know how to solve this?

[code]

[2021-02-26 15:33] ilcato commented on #210
Are you able to 'ping' 192.168.8.173 from 192.168.8.171 ?

[2021-02-26 15:38] ilcato commented on #209
@danholt-international, @Stefan-83 have you tried homebridge 1.3.1 ?

[2021-02-26 15:45] Stefan-83 commented on #209
yes, since today I'm on 1.3.1- same issue

[2021-02-26 16:54] Krillle commented on #204
@ilcato The added feature to switch global variables with seperate admin user is working in Homebridge v1.3.1.
Additionally I added  Hombridge UI settings schema.
Minor change: I found in code pollerperiod default is 5. I corrected this in config.json comments.

However the new feature seems to break the polling and setting of normal devices. Despite checking and investigating for hours, I could n

[2021-02-26 17:36] Krillle commented on #204
@ilcato I found the reason: I needed to merge your latest changes from upstream/master.

Everything works fine under Homebridge 1.3.1. You can safely merge the pull request #205

[2021-02-26 19:27] Damianod27 commented on #210
![image](https://user-images.githubusercontent.com/79320859/109345834-0bd3ce80-7871-11eb-9114-5ca4b0624829.png)

[2021-02-27 07:11] ilcato commented on #210
@Damianod27, in your config.json file I see on line 21 a platform param that shouldn't be present.

[2021-02-27 07:37] #204 closed

[2021-02-27 08:03] ilcato commented on #209
@danholt-international, @Stefan-83 can you test the current master version ?

[2021-02-27 10:42] Damianod27 commented on #210
This line of code creates itself when you save the configuration in the plugin.  I tried to delete in the main configuration file but there is an error.  Photos before and after.  I do not know what to do ?

![image](https://user-images.githubusercontent.com/79320859/109384988-d078e480-78f0-11eb-89e9-4977d3e7224d.png)

![image](https://user-images.githubusercontent.com/79320859/109384991-d373d500-

[2021-02-27 10:55] ilcato commented on #210
Please, send me the entire config.json (without your credentials) please.

[2021-02-27 11:25] Damianod27 commented on #210
I bought a Raspberry Pi specifically for your plug.  My home automation up to 95% fibaro.  I will reward you, my friend, when we complete the matter.  Thank you for your help.  I will send the configuration right away

[2021-02-27 11:33] Damianod27 commented on #210
{
    "bridge": {
        "name": "Homebridge",
        "username": "0E:17:CA:7B:7D:E3",
        "port": 51826,
        "pin": "279-27-279"
    },
    "accessories": [
        {
            "name": "Virtual Click",
            "genericswitch": true,
            "flip": false,
            "time": 1000,
            "accessory": "VirtualSwitch"
        },
        {
            "name": "Virtual Hold",

[2021-02-27 11:56] ilcato commented on #210
@Damianod27, there was a new bridge inside the definition of the platform (probably you selected the new option coming Fromm homebridge 1.3, I don't know). Anyway, the correct configuration should be the following:

`{
   "bridge":{
      "name":"Homebridge",
      "username":"0E:17:CA:7B:7D:E3",
      "port":51826,
      "pin":"279-27-279"
   },
   "accessories":[
      {
         "name":"Virtual

[2021-02-27 12:26] danholt-international commented on #209
Yes, same issue with 1.3.1

Von meinem iPhone gesendet

[2021-02-27 12:29] ilcato commented on #209
@danholt-international, did you tried the current master version or the published one?

[2021-02-27 13:06] Damianod27 commented on #210
Wow Wow Wow Wow Wow
YOU ARE AMAZING !!!!!
Thank you very much !!!

I installed Homebridge from the official website.  After entering the system, I did not set anything.  What was wrong in the configuration file.  I will know for the future as if I had put everything all over again.

Where can I reward you?  Coffee GitHub or PayPal?

[2021-02-27 13:06] Damianod27 commented on #210
What should I change what parameters to give on the standard HC2 plugin?

[2021-02-27 13:39] danholt-international commented on #209
I have installed the latest 1.3.1 version… no beta, master or something like that.

[2021-02-27 13:44] ilcato commented on #209
Can you try the master version?

[2021-02-27 13:51] danholt-international commented on #209
How do I install a master version?

[2021-02-27 14:01] ilcato commented on #209
by hand via:
npm install https://github.com/ilcato/homebridge-Fibaro-HC2.git

[2021-02-27 14:22] danholt-international commented on #209
I am sorry..  o idea how to install this…
npm install -g homebridge-fibaro-hc2@2.4.0 does not work for me. File not found.

[2021-02-27 15:20] ilcato commented on #209
you should execute:

`npm install -g https://github.com/ilcato/homebridge-Fibaro-HC2.git `

[2021-02-27 15:28] crissmil commented on #209
Hi @ilcato I confirm master version 2.4.0 is working... no more slowdown warnings. all my accessories are working.
Thanks!

[2021-02-27 15:30] danholt-international commented on #209
npm ERR! code 128
npm ERR! command failed
npm ERR! command git ls-remote ssh://git@github.com/ilcato/homebridge-Fibaro-HC2.git
npm ERR! /bin/bash: /root/.bashrc: Permission denied
npm ERR! Host key verification failed.
npm ERR! fatal: Could not read from remote repository.
npm ERR!
npm ERR! Please make sure you have the correct access rights
npm ERR! and the repository exists.

[2021-02-27 15:32] ilcato commented on #209
Ok, I'll publish it.

[2021-02-27 15:35] ilcato commented on #209
Done, @danholt-international, please install it in the normal way and test it. Thank you.

[2021-02-27 15:43] danholt-international commented on #209
Not Loading at all now...

[27/02/2021, 16:42:09] ERROR LOADING PLUGIN homebridge-fibaro-hc2:
[27/02/2021, 16:42:09] Error: Cannot find module 'request'
Require stack:
- /usr/local/lib/node_modules/homebridge-fibaro-hc2/dist/index.js
- /usr/local/lib/node_modules/homebridge/lib/plugin.js
- /usr/local/lib/node_modules/homebridge/lib/pluginManager.js
- /usr/local/lib/node_modules/homebridge/lib/serv

[2021-02-27 15:56] danholt-international commented on #209
Reinstalled 2.3.9 now… Plugin loads again, but all may Fibaros are pushed to standard room again … all connections in Home app lost…

What is wrong here?

ERROR LOADING PLUGIN homebridge-fibaro-hc2:
[27/02/2021, 16:51:33] Error: Cannot find module 'request'
Require stack:
- /usr/local/lib/node_modules/homebridge-fibaro-hc2/dist/index.js
- /usr/local/lib/node_modules/homebridge/lib/plugin.js
- /usr

[2021-02-27 16:06] crissmil commented on #209
same here after installing published version:

[27/02/2021, 18:03:04] ====================
[27/02/2021, 18:03:04] ERROR LOADING PLUGIN homebridge-fibaro-hc2:
[27/02/2021, 18:03:04] Error: Cannot find module 'request'
Require stack:
- /usr/lib/node_modules/homebridge-fibaro-hc2/dist/index.js
- /usr/lib/node_modules/homebridge/lib/plugin.js
- /usr/lib/node_modules/homebridge/lib/pluginManager.js
- /

[2021-02-27 16:21] ilcato commented on #209
Sorry guys, I will fix it. Unfortunately I no longer have an HC2 so I cannot test it directly.

[2021-02-27 16:34] ilcato commented on #209
@danholt-international , @crissmil can you try with version 2.4.1 ? Thanks

[2021-02-27 16:40] crissmil commented on #209
[27/02/2021, 18:37:36] [HB Supervisor] Restarting Homebridge...
[27/02/2021, 18:37:36] [HB Supervisor] Starting Homebridge with extra flags: -I -D
[27/02/2021, 18:37:36] [HB Supervisor] Started Homebridge v1.3.1 with PID: 15198
Initializing HAP-NodeJS v0.9.2...
[27/02/2021, 18:37:38] Loaded config.json with 0 accessories and 2 platforms.
[27/02/2021, 18:37:38] Loaded 75 cached accessories from cac

[2021-02-27 16:50] ilcato commented on #209
@crissmil, can you confirm that the previous master version before the publishing of 2.4.0 was good?

[2021-02-27 16:52] crissmil commented on #209
yes, master version 2.4.0 was working... but published version 2.4.0 was not

[2021-02-27 16:56] cryptominingbe opened #212 "Save to update version HB1.3.1?"
HI,

Is it save update Homebridge 1.3.0 to version 1.3.1 ?

Tx
Timm

[2021-02-27 16:58] ilcato commented on #209
The reason is that in your local installation there was the request package that I removed from the plugin. In 2.4.1 I removed the dependency from the request package so it should work. The erro you have is not related to the previous changes.
@crissmil can delete the plugin and try to reinstall it?

[2021-02-27 16:58] ilcato commented on #212
I'm currently on 1.3.1

[2021-02-27 17:05] crissmil commented on #209
[27/02/2021, 18:59:17] [Homebridge UI] Running Command: sudo -E -n npm uninstall -g homebridge-fibaro-hc2
[27/02/2021, 18:59:57] [Homebridge UI] Running Command: sudo -E -n npm install -g homebridge-fibaro-hc2@latest
[27/02/2021, 19:00:21] [Homebridge UI] Changes to config.json saved.
[27/02/2021, 19:00:25] [Homebridge UI] Homebridge restart request received
[27/02/2021, 19:00:25] [Homebridge UI]

[2021-02-27 17:10] crissmil commented on #209
@ilcato on above I forgot to update config.json file as well... but still not working:

[27/02/2021, 19:07:56] [Homebridge UI] Changes to config.json saved.
[27/02/2021, 19:07:59] [Homebridge UI] Homebridge restart request received
[27/02/2021, 19:07:59] [Homebridge UI] UI / Bridge settings have not changed; only restarting Homebridge process
[27/02/2021, 19:07:59] [Homebridge UI] Sending SIGTERM

[2021-02-27 18:33] Franco268 opened #213 "Security Alert message from Fibaro HC2 with V2.4.1"
Hi, I'm new but if I can help...

I got that mail from my HC2 with V2.4.1:

Security Alert:
Suspicious Login Attempts Prevented

--
We noticed 5 failed login attempts to your HC2-028966 that seemed suspicious.   				For your security, the following IP address: 192.168.100.2 has been locked for 30 minutes.

[2021-02-27 20:21] jlborggreve commented on #213
Same here - running with HCL, homebridge v1.3.1, running on docker (ubuntu bionic beaver (18.04.5 LTS)

[2021-02-27 20:22] neilpatel121 commented on #213
Facing issue with authentication too, password is correct

[2/27/2021, 8:21:18 PM] [FibaroHC2] Error getting data from Home Center:  Error: Unauthorized
    at Request.callback (/usr/lib/node_modules/homebridge-fibaro-hc2/node_modules/superagent/src/node/index.js:879:15)
    at IncomingMessage.<anonymous> (/usr/lib/node_modules/homebridge-fibaro-hc2/node_modules/superagent/src/node/index.js:1130:1

[2021-02-27 20:40] crissmil commented on #209
@ilcato , I did following in order to make it working again:
- roll back homebridge to 1.1.7 (without this I couldn't make it working with any previous plugin version)
- restarted HC2
- roll back plugin to 2.3.9
It was working, then I updated homebridge again to 1.3.1 and it was still working
- installed again plugin master version 2.4.0 - still working
then after updating plugin to 2.4.1 I got th

[2021-02-27 21:02] neilpatel121 opened #214 "Latest Fibaro HC2 Plugin Http Auth Issues with GET /api/scenes (401)"
Unable to get this to work, rollbacking to previous version works.. Log from Plugin

Between the rollback and latest version the password remained the same and hc2 version remained the same. I saw there was changes around user/name and password in json config for the global variables settings, thought the http credentials where switched over too these, tried to add these with no luck..

Facing iss

[2021-02-27 21:10] ilcato commented on #214
Reverted, latest changes. Upgrade to 2.4.2.

[2021-02-27 21:10] ilcato commented on #213
Reverted, latest changes. Upgrade to 2.4.2.

[2021-02-27 21:11] ilcato commented on #209
Reverted, latest changes. Upgrade to 2.4.2.

[2021-02-27 21:43] neilpatel121 commented on #213
Cheers for the swift response, that's working fine now

[2021-02-28 00:09] #213 closed

[2021-02-28 08:57] baduxiyang opened #215 "2.4.2 Latest Fibaro HC2 Plugin global variables help"
When I press the global variable switch in apple family, the scene associated with the global variable in HC2 will not trigger to run. Please help to repair

[2021-02-28 09:23] ilcato commented on #215
@Krillle, can you help with this. May it depends on your PR? I cannot test anymore on HC2.

[2021-02-28 09:39] Krillle commented on #215
@baduxiyang The latest pull request enables to set global variables even while using not admin rights users, e.g. to restrict access to devices. However it should not break your running setup. Lets check out what the problem might be:

Does the global variable in Home Center 2 change to true and false, if you switch the switch in home app?

Are you using admin user of Home Center 2 in config.json?

[2021-02-28 12:47] cryptominingbe commented on #212
Ok thx :)

[2021-02-28 12:47] #212 closed

[2021-02-28 12:50] cryptominingbe opened #216 "Elgato stream deck with Fibaro HC2 - Homebridge"
Hello everyone,

I am trying to get an Elgato stream deck operatively with Homebridge for the Fibaro HC devices to be sent.
However the homebridge plugin for Stream deck doesn't work.
Now a web link can be made from a fibaro devices so that I can insert it as a web page behind the buttons of Elgato Stream deck based on the aid and the iid?

[2021-02-28 14:06] baduxiyang commented on #215
@Krillle  @ilcato Thanks , I will try again tomorow!

[2021-02-28 14:14] ilcato commented on #216
It is better to link directly from the Stream device to the Fibaro web API. You can build any request via it. This is the mechanism that this plugin use to dialogue with the Home Center.

[2021-02-28 15:44] danholt-international commented on #209
New issues:

[28/02/2021, 16:43:54] [FibaroHCL] There was a problem getting value from:  411 - Err: null
[28/02/2021, 16:43:54] [homebridge-fibaro-hc2] This plugin generated a warning from the characteristic 'Carbon Monoxide Peak Level': characteristic was supplied illegal value: null! Home App will reject null for Apple defined characteristics. See https://git.io/JtMGR for more info.
[28/02/2021,

[2021-03-01 07:57] danholt-international opened #217 "Version 2.4.2 still having issues with NULL values"
[01/03/2021, 12:22:21] [FibaroHCL] Error fetching updates:  503
[01/03/2021, 12:22:22] [homebridge-fibaro-hc2] This plugin slows down Homebridge. The read handler for the characteristic 'Current Temperature' was slow to respond! See https://git.io/JtMGR for more info.
[01/03/2021, 12:22:22] [homebridge-fibaro-hc2] This plugin slows down Homebridge. The read handler for the characteristic 'On' was

[2021-03-02 08:57] danholt-international commented on #209
Hi!

Is there anything in the pipeline to get rid of these errors and warnings?
homebridge-fibaro-hc2 v2.4.2

running Homebridge 1.3.1

[02/03/2021, 09:54:44] [homebridge-fibaro-hc2] This plugin generated a warning from the characteristic 'Carbon Monoxide Level': characteristic was expected valid number and received NaN. See https://git.io/JtMGR for more info.
[02/03/2021, 09:54:44] [homebridge-fi

[2021-03-03 09:07] danholt-international commented on #209
Hello!

In the meantime I moved from HCL to a HC3 and installed your FibaroHC3 PlugIn.

Unfortunately I get an error:

[03/03/2021, 10:04:30] [FibaroHC3] Error reading ca.cer:  Error: ENOENT: no such file or directory, open '/var/lib/homebridge/ca.cer'
    at Object.openSync (fs.js:476:3)
    at Object.readFileSync (fs.js:377:35)
    at new FibaroClient (/usr/local/lib/node_modules/homebridge-fiba

[2021-03-03 09:18] ilcato commented on #209
@danholt-international, in the HC3: if you set the url param you must provide the ca.cer file. Otherwise provide the host param as for HC2.

[2021-03-03 09:24] danholt-international commented on #209
Hi!

OK, I killed the URL param… and ist works now.

BUT: Same as for HCL still warnings:

[407.0@407.0@Battery Level] Characteristic not in required or optional characteristic section for service CarbonMonoxideSensor. Adding anyway.

[03/03/2021, 10:21:12] [homebridge-fibaro-hc3] This plugin generated a warning from the characteristic 'Carbon Monoxide Level': characteristic was expected valid num

[2021-03-03 11:15] danholt-international commented on #209
Hi!

Sorry for interrupting you again:

There are two Fibaro Valves missing in homekit.
Strange, that the thermometer item of each missing valve is available, but not the valve itself.

Item 294 and 392 are both valves. But the xxx.1 are not loaded.

Any idea what is wrong?

Regards

Daniel

[2021-03-04 09:14] danholt-international commented on #209
Hello!

Could you please give a preview when you will be able to fix the issues with HC3 plugin?

1.	No Fibaro Valves visible
2.	Unstable and inconsistent device status - for example: lights switched ON in Home App magically turn OFF again after some seconds, but lights are still ON (in real world)

Regards

Daniel

[2021-03-04 14:52] baduxiyang opened #219 "2.4.2 HC2 Plugin global variables Global switch invalid"
HC2  to  Apple Homekit is ok ,no problem!
When push The Apple Homekit global swich , Scenes with The switches associated with global variables do not run!

[2021-03-05 07:30] redeemer666 opened #220 "Error from CO Sensor"
Hi ilcato,

Si è 1.3, my Fibaro CO Sensor send this error:

[homebridge-fibaro-hc2] This plugin generated a warning from the characteristic 'Carbon Monoxide Peak Level': characteristic was expected valid number and received NaN. See https://git.io/JtMGR for more info.

Not a big hassle, just to understand what’s going on.

Thanks

[2021-03-06 01:21] #219 closed

[2021-03-06 14:11] baduxiyang opened #221 "Is there any way to map VD to dimming or RGBW ？Thanks"
Is there any way to map VD to dimming or RGBW and color temperature？Thanks

[2021-03-06 14:34] cryptominingbe commented on #216
Hi,

I've tried it yet and found the error.
The port was indeed wrong and after entering the command I get this but nothing happens and I see nothing on the log ...

Result:
{"characteristics": [{"aid": 467, "iid": 8, "status": - 70410}]}

Do you have an idea?

Will it affect homebridge operation if I change this port?
51404 to another ?

[2021-03-17 15:39] xlinur commented on #209
https://github.com/ilcato/homebridge-Fibaro-HC2/pull/222

[2021-03-17 19:59] ilcato commented on #209
@danholt-international can you test the fix before publication?

[2021-03-18 07:46] danholt-international commented on #209
Hi!

Well, I am sorry I still have no idea how to install a master version of the hc3 plugin…

npm install -g homebridge-fibaro-hc3_????
Regards

Daniel

[2021-03-19 09:41] danholt-international commented on #209
Hello!

How can I install the bug-fixed version of homebridge-Fibaro-HC3  ( HomeCenter 3 ! )

npm install -g ***@***.***  does not work resp. it reinstalls only the current version 1.1.4 which still has the errors:

1.	No heat controller support
2.	RGBW Controller gets stuck after first action and generally no colors can be adjusted.
3.	Dimmers do not work properly when dimming is set between 1-99

[2021-03-19 18:43] ilcato commented on #209
Published 2.4.3 for Home Center 2.
@danholt-international, please create issues into the HC3 repo and not this one.

[2021-03-19 18:43] #209 closed

[2021-03-19 18:44] #214 closed

[2021-03-19 18:45] ilcato commented on #210
What do you mean?

[2021-03-19 18:45] #210 closed

[2021-03-19 18:46] ilcato commented on #220
@redeemer666  Try 2.4.3

[2021-03-19 18:46] #220 closed

[2021-03-19 18:46] ilcato commented on #217
try version 2.4.3

[2021-03-19 18:46] #217 closed

[2021-03-19 18:47] #215 closed

[2021-03-19 18:47] #202 closed

[2021-03-19 18:47] ilcato commented on #203
Try 2.4.3

[2021-03-19 18:48] #203 closed

[2021-03-19 18:49] ilcato commented on #199
try 2.4.3

[2021-03-19 18:49] #199 closed

[2021-03-19 18:51] ilcato commented on #197
@birdfish14 do you still have this problem?

[2021-03-19 18:55] redeemer666 commented on #220
Hi ilcato. Unfortunately the error remain...

[2021-04-07 08:56] Damianod27 opened #224 "I can't see devices"
Hello. I accidentally found a bug.  I had to remove the wall plug from HC2.  I restarted it to factory settings (Wall Plug).  I added back to HC2.  He has not been in Homebridge since then.  I tried the same thing with another Wall Plug and the situation is the same.  What could be the reason?

I also installed a clean Homebridge on another device and your plug, the situation is the same, i.e. you

[2021-04-07 11:08] ilcato commented on #224
Are you able to list it via the REST API?

[2021-04-07 14:51] Damianod27 commented on #224
Does not understand.  What is Rest Api?  It is normally visible in HC2 and in the Home Center Application.  If he installs HC2 directly in Amazon Alexa is also visible.  Works as normal as always.  It is not only visible in homebridge as well as in HomeKit

![image](https://user-images.githubusercontent.com/79320859/113887060-760d5680-97c1-11eb-8bee-a06acfdfe3be.jpeg)

[2021-04-07 15:02] ilcato commented on #224
@Damianod27, connect to http://<Home Center IP-address>/docs/
and select devices section and GET device and specify the ID of the devices.

[2021-04-07 15:04] Damianod27 commented on #224
I'm sorry but I never did.  I have no idea how it is done or what it is about 😟

[2021-04-07 15:12] ilcato commented on #224
@Damianod27 replace <Home Center IP-address> with the same IP you configured in the plugin, and open a browser at this URL.

[2021-04-07 17:52] Damianod27 commented on #224
Thank you.  Was it about?

![image](https://user-images.githubusercontent.com/79320859/113911814-b4633f80-97da-11eb-894e-1217a526f581.jpeg)

[2021-04-07 17:55] Damianod27 commented on #224
{
  "id": 199,
  "name": "198.0",
  "roomID": 0,
  "type": "com.fibaro.FGWP102",
  "baseType": "com.fibaro.FGWP",
  "enabled": true,
  "visible": true,
  "isPlugin": false,
  "parentId": 198,
  "remoteGatewayId": 0,
  "interfaces": [
    "deviceGrouping",
    "energy",
    "fibaroFirmwareUpdate",
    "light",
    "power",
    "zwave",
    "zwaveAlarm",
    "zwaveMultiChannelAssociation"
  ],
  "pr

[2021-04-07 19:48] ilcato commented on #224
@Damianod27, it seems correct.
Two things:
1. is there some error in homebridge logs?
2. Is the Home Center user you set in config.json allowed to see these device?

[2021-04-07 19:55] Damianod27 commented on #224
1. There are no errors in Homebridge logs (I checked several times)
2. I don't have any locks in the settings.

It only happened when I removed the WALL Plug from HC2.  I have hard reset WALL Plug to factory settings.  After separating from HC2 again, I cannot see it in Homebridge.  I did a trial with the second WALL Plug and the same.  At the moment, Homebridge does not see two Wall Plugs.

[2021-04-07 20:04] Damianod27 commented on #224
Homebridge runs on Raspberry Pi 4. I also have BananaPi M2 Quad-Core and Raspberry Pi Zero.  I put a completely clean Homebridge on them and installed your plugin.  Both have the same problem.  I can't see the two WALL Plugs I have removed.

[2021-04-07 20:36] ilcato commented on #224
2. Are you using the same user as the main home center user?

[2021-04-07 21:09] Damianod27 commented on #224
I do not have a special Homebridge-only account.  I didn't think tomorrow, I will check my main account and let me know.

[2021-04-07 21:20] Damianod27 commented on #224
I checked.  Works on a different account.  Two removed Wall Plugs are shown.  If the first account is returned, the same problem is the lack of two Wall Plugs.  Thank you.  I need to log in to a different account.

[2021-04-08 04:34] #224 closed

[2021-04-23 06:21] bozman2021 commented on #175
+1 on this, would like to have this too.

[2021-04-25 13:00] ilcato commented on #206
@marmod this device is already compatible with Homekit. No need to use homebridge and an Home Center,

[2021-04-25 13:00] #206 closed

[2021-04-25 13:02] ilcato commented on #216
@cryptominingbe, use the Fibaro Home Center API. Do not connect via homebridge.

[2021-04-25 13:03] ilcato commented on #197
Closing for no answer

[2021-04-25 13:03] #197 closed

[2021-04-25 13:08] ilcato commented on #191
Did you restart the raspbian machine ?

[2021-04-25 13:12] ilcato commented on #144
@kot-925, migrate to momebridge-fibaro-home-center. It should work.

[2021-04-25 13:12] #144 closed